[2013-05-18 02:23] SBoudrias opened #1 "Add answer validation"
User should be able to validate the answer returned by the client.

[2013-05-18 02:24] SBoudrias opened #2 "Add error messaging feature"
User should be able to return error messages from a failed validation (related to #1)

[2013-05-18 03:03] SBoudrias opened #3 "Add hook to filter each answers"
This may allow user to slugify a phrase or use some content filter like `toLowerCase`.

[2013-05-18 03:05] SBoudrias opened #4 "Multi-line question (or choices)"
Right now there's no support for using line return inside questions or choices.

[2013-05-19 02:50] #4 closed, assigned to nobody

[2013-05-19 19:11] #1 closed, assigned to SBoudrias

[2013-05-19 19:11] #2 closed, assigned to SBoudrias

[2013-05-19 19:28] #3 closed, assigned to SBoudrias

[2013-05-20 02:24] SBoudrias opened #5 "Get rid of the Readline façade?"
Checkout to pass directly the RL instead of a façade here https://github.com/SBoudrias/Inquirer.js/blob/master/lib/inquirer.js#L49-L61

[2013-05-24 01:06] #5 closed, assigned to nobody

[2013-05-24 01:08] SBoudrias opened #6 "Line return may prevent full cleaning of a prompt (Unix)"
When rerendering a prompt with answers or feedback, if there's a line return (because the text is to long to fit on a single line), the previous prompt won't be completely cleaned up. This leave the appearance of a display bug.

[2013-05-24 01:09] SBoudrias opened #7 "Normalize spacing"
When rendering subtext under a prompt, the spacing ain't unified between each prompt (it will vary from 1 to 2 LN). Would be better if always the same.

[2013-05-24 01:11] SBoudrias opened #8 "Control backspace"
When <kbd>backspace</kbd> is pressed, the current line is completly removed and we go back to a default `>` prompt...

[2013-05-24 13:45] SBoudrias opened #9 "Allow asynchronous validation"
Asked over here: https://github.com/yeoman/generator/pull/250#issuecomment-18385999

[2013-05-26 19:33] #9 closed, assigned to nobody

[2013-05-27 01:46] #7 closed, assigned to nobody

[2013-05-30 23:00] SBoudrias opened #10 "Fix white/light color prompt"
Shouldn't default text to white - it should reset to default.

[2013-05-31 01:32] #10 closed, assigned to nobody

[2013-05-31 01:32] SBoudrias opened #11 "Get better color"
Request from Yeoman, getting the Grunt-init color scheme.

[2013-05-31 01:36] SBoudrias opened #12 "Get "password" prompt"
Must hide user input.

[2013-05-31 01:38] SBoudrias opened #13 "Get "expand list" prompt"
With a series of choices hided by default. e.g.:

[code]

With default option `h` who's expanding choices:

[code]

[2013-06-06 17:55] robwierzbowski opened #14 "UI improvements: make prompt more succinct"
First, thanks for the new library. After using it I have some suggestions to simplify the prompts and make them feel less lengthy.
#### Prompt line spaces

Right now in Inquirer there are empty lines in between each prompt:

[code]

In the last Yeoman prompt I grouped my questions together by category, and added a single empty line break between each section:

[code]

Removing the whitespace will

[2013-06-06 19:27] passy opened #15 "Default value for `confirm` type"
If I'm not mistaken, `confirm` currently does not accept allow `false` as default. It would be nice to have this added.

[2013-06-06 19:47] robwierzbowski opened #16 "Keyboard input on list prompt"
Two small issues:

Currently on a list prompt you can enter characters:

[code]

Hiding keyboard input would help avoid any confusion as to how you select an option in a list prompt.

Also, typing any non-alpha or arrow key crashes Inquirer and the Yeoman generator:

[code]

Thanks!

[2013-06-07 02:07] #15 closed, assigned to nobody

[2013-06-07 02:42] SBoudrias opened #18 "Add theming capability"
Inquirer could provide a theme functionnality allowing user to automatically setup the prompt color scheme.

I don't feel like it is super usefull, but this could allow higher level library from giving their user choice between some themes to better match their prompt theme (thinking mostly about "light" vs "dark" terminal).

Feedback?

[2013-06-08 20:50] #16 closed, assigned to nobody

[2013-06-08 22:23] #8 closed, assigned to nobody

[2013-06-09 20:12] SBoudrias opened #19 "Support for hierachical prompt"
See https://github.com/yeoman/generator/issues/278

[2013-06-11 02:25] SBoudrias opened #20 "Add better error messages"
Right now, I think I'll only catch missing required parameters.

We'll see with time if we need to add some stuff up.

[2013-06-11 19:48] passy opened #21 "Remove default suffix for prompts"
I'd like to discuss whether the a default suffix for prompts is helpful. `generator-generator` for example has a lot of its prompts in form of a question, so there's no need to append a colon:

![screenshot from 2013-06-11 21 46 40](https://f.cloud.github.com/assets/9906/639262/c99dd0be-d2cf-11e2-9de8-5e5a87c3ddf7.png)

I would like to know what others think about this. :)

[2013-06-12 11:02] jdespatis opened #22 "Prompt broken with several `nfinityC` printed on screen"
Complete detail here:
https://github.com/yeoman/generator/issues/284

[2013-06-12 17:11] robwierzbowski opened #23 "List not clearing itself from terminal"
Looks like there's been a regression. When I hit an arrow key on a list prompt the previous prompt is not cleared. An `nfinityC` gets inserted too, so could be related to #22.

Terminal output after arrow keying up and down a couple times:

[code]

[2013-06-12 21:27] sindresorhus opened #24 "Wrong hint on confirm prompt with `default: false`"
When using the confirm prompt and set `default: false` it still shows the `(Y/n)` hint, while it should be `(y/N)`.

Test case: https://github.com/h5bp/generator-h5bp

[2013-06-12 21:32] sindresorhus opened #25 "List prompt flickers"
When going from one option to the other in the list prompt it sometimes flicker in OS X 10.8 Terminal.app.

Video: https://dl.dropboxusercontent.com/u/71884/inquirer-flicker-bug.m4v

[2013-06-12 21:33] sindresorhus opened #26 "Loop list prompt"
When hit down on the last item it should go to the first and when hitting up on the first item it should go to the last.

[2013-06-12 21:34] sindresorhus opened #27 "Multiple select prompt"
Sometimes it would be useful to be able to select multiple options in a list. Currently the `list` prompt is like a radio group. Could be useful with a checkbox group.

Need it for: https://github.com/sindresorhus/generator-pure/issues/2

[2013-06-12 23:09] sindresorhus opened #28 "Hide cursor in list prompt"
It's distracting and it's possible to hide it: https://github.com/substack/node-charm#charmcursorvisible

[2013-06-12 23:25] #24 closed, assigned to nobody

[2013-06-13 01:04] #23 closed, assigned to nobody

[2013-06-13 01:29] #20 closed, assigned to nobody

[2013-06-13 01:56] #26 closed, assigned to nobody

[2013-06-13 02:11] robwierzbowski opened #29 "Input type deletes line above itself"
Thanks again for going through all these issues so quickly.

With the current master input type prompts add an empty line below themselves and delete the line above. For example:

[code]

[code]

[code]

[code]

[2013-06-13 02:35] #29 closed, assigned to nobody

[2013-06-13 02:45] SBoudrias opened #30 "Blank line on the bottom when inputs are following each other"

[2013-06-13 02:49] #22 closed, assigned to nobody

[2013-06-13 02:50] #28 closed, assigned to nobody

[2013-06-13 07:38] sindresorhus opened #31 "Unicode checkbox"
Not sure if it would be feasible, but might consider using unicode symbols:

☐☑☒ though I fear these might be too small.

or just a checkmark on the chosen one and nothing on the others: ✔

or same as above, but an other symbol: ❯ ➤ ➔

Could also consider using unicode combinators:
http://unicodinator.com/#20E3 combined with ✔ makes ✔⃣   or    ✖⃣

or this http://unicodinator.com/#20DD combined wit

[2013-06-13 12:10] jdespatis opened #32 "Impossible to set a default value in a list"
I use a `list` with several choices, I'd like to pre-check one of them (which is not always the first one), so I use `default`, as I used to, in previous prompt in yeoman.

But it doesn't work anymore, the first choice is always set, whatever the value indicated into `default`.
Even if `default` is not set, the first choice is pre-set (which conflicts with doc of Inquirer btw, as it's impossible t

[2013-06-13 20:01] rdodev opened #33 "Validate not being checked on list prompt"
I have a list prompt that has options that are dependent on setting data elsewhere. It would come very handy if validate function would be checked on prompt selection.

[2013-06-14 00:45] #19 closed, assigned to nobody

[2013-06-14 01:19] #32 closed, assigned to nobody

[2013-06-16 02:10] #11 closed, assigned to nobody

[2013-06-16 02:27] #21 closed, assigned to nobody

[2013-06-20 20:32] #31 closed, assigned to nobody

[2013-06-20 20:36] #13 closed, assigned to nobody

[2013-06-21 14:10] SBoudrias opened #35 "Make screenshots/animated gifs from the prompt for the readme"

[2013-06-23 13:35] sindresorhus opened #38 "1-9 keys for quick selection"
Would be useful to allow 1-9 to quickly select options in `list` and `checkbox`.

[2013-06-23 13:36] sindresorhus opened #39 "Caret is not shown again if process is killed"
If I ctrl+c the prompt the caret is forever hidden.

[2013-06-23 14:48] sindresorhus opened #40 "How should it handle long lists?"
It does sound like an anti-pattern to have long lists, but there might be valid use-cases for it.

Currently when you have more items than fits the viewport they are scrolled out of it. You can of course scroll up yourself, but is there anyway to have the scroll follow the `>` selector?

Screenshot:

![screen shot 2013-06-23 at 16 47 21](https://f.cloud.github.com/assets/170270/692268/d5cd09f2-dc1

[2013-06-23 20:58] #12 closed, assigned to nobody

[2013-06-23 21:14] #39 closed, assigned to nobody

[2013-06-24 23:55] #33 closed, assigned to nobody

[2013-06-27 15:59] #27 closed, assigned to nobody

[2013-06-28 15:19] #30 closed, assigned to nobody

[2013-07-01 01:28] #35 closed, assigned to nobody

[2013-07-02 01:22] #14 closed, assigned to nobody

[2013-07-02 17:24] SBoudrias opened #43 "Add unicode for Windows"
By limiting the unicode range in which to select unicode, we should be able to use supported unicode character by Consolas (default windows cmd font). This would allow having a closer style parity between Windows and Unix.

[2013-07-07 18:53] CDHDeveloper opened #44 "Nested example shows bug"
node version: 0.8.1
inquirer version: 0.1.12 (note: This is what is downloaded by npm)
Issue: In nestedCall.js under examples the second question causes doubling of input letters.
Steps to reproduce:
1) npm install inquirer.
2) cd examples
3) node nestedCall.js
4) answer first question
5) note that on answering 2nd question each letter of input is doubled (eg: booze -> bboooozzee)

[2013-07-07 19:16] CDHDeveloper opened #45 "Enhancement/discussion: change in flow based on answers."
As pizza.js shows things work fine as long as question flow is in a strictly linear fashion. But consider where the answer to one question affects the flow of another question. For example                      lets say that Node Pizza also offers calzones and subs and salads. Then a user would need to be asked what type of thing they want to order and based on that they would have a subset of ques

[2013-07-08 22:51] #44 closed, assigned to nobody

[2013-07-08 23:08] #45 closed, assigned to nobody

[2013-07-11 17:10] SBoudrias opened #46 "Allow programmatic re-rendering"
Related use case: https://github.com/yeoman/yo/pull/57

[2013-07-26 20:00] danielchatfield opened #48 "Buggy on windows"
I'm using windows 8.

[code]

This renders as expected but you can't interact with it. (output isn't muted)

To get around it I have to hit enter first which is pretty annoying. This also causes the clean() to leave a line.

[2013-07-26 20:27] danielchatfield opened #49 "Make inquirer.prompt() blocking"
Consider the following code

[code]

Obviously in this example you would bundle the prompts into one list and only call `inquirer.prompt` once. This is a simplified example of something which could happen in yeoman (they use the 'async' module to ensure that the second prompt isn't called until the callback for the first one has been called).

One would expect that when the callback from the first

[2013-07-26 20:27] #48 closed, assigned to nobody

[2013-07-28 18:17] #49 closed, assigned to nobody

[2013-08-16 23:42] sindresorhus opened #53 "Item separator"
It would be useful to be able to insert a separator between items to group them. Could just accept a string and let the user chose if it should be empty, `--------`, or something else.

Example:

![inquirer-separator](https://f.cloud.github.com/assets/170270/978910/596ee422-06cd-11e3-90a5-c3f28fd09c56.png)

It would eg be useful in `yo` where we display a long list of options, but some should be g

[2013-08-21 17:35] #53 closed, assigned to nobody

[2013-08-21 17:45] DannyDouglass opened #56 "Input appears as password when following password question"
The code below is capturing a user's github username, password, and organization for automatic creation of github enterprise repos.  After entering the password and pressing enter, the following question (input) appears as a password and the text of the question is replaced with the password question's text:

"use strict";
var inquirer = require("inquirer");

var questions = [
  {
    type: "input

[2013-08-21 19:41] #56 closed, assigned to nobody

[2013-08-24 01:52] ericduran opened #58 "Home and End shortcut key?"
I just killed a PR to add End and Home shortcut keys so a user can quickly get to the top and bottom of the list.

Would you still be interested in this feature? I realized I should have ask 1st since You're already working on a similar UX feature with https://github.com/SBoudrias/Inquirer.js/issues/40#issuecomment-23111814

I still think the Home + End shortcut could be useful.

I'll wait for a r

[2013-08-26 00:22] #38 closed, assigned to nobody

[2013-08-26 14:46] #43 closed, assigned to SBoudrias

[2013-08-27 01:53] #40 closed, assigned to nobody

[2013-08-27 17:37] SBoudrias opened #59 "Create better unit test for testing nested prompts"
`0.3.0` presented a regression in the nested prompts support (events where duplicated). It really needs a better unit test so this don't happens again.

[2013-08-29 20:37] aaronshaf opened #60 "Auto-expand the expand"
Is there a way to use the expand-type list, but in an auto-expanded way? Thanks!

[2013-08-29 21:25] aaronshaf opened #61 "Ability to set pageSize as option"
It would be nice to override the default pageSize (7).

[2013-09-02 08:22] mpal9000 opened #62 "Event listeners warning on multiple prompts"
Hello, thanks for this nice module!

When running multiple prompts, I get this warning:
"(node) warning: possible EventEmitter memory leak detected. 11 listeners added. Use emitter.setMaxListeners() to increase limit."

Tests:

[code]

[2013-09-02 16:48] danielchatfield opened #64 "Implement a queue system or throw an error when `prompt` is called before previous one has ended."
Migrated from #62 (separate issue that was brought up)
## Test case

[code]

Currently this just breaks `inquirer`.

I can't think of any reason why someone would need to call `prompt` like this as you should just pass multiple questions to `prompt` and if you need to split it up (you need to calculate some questions based on previous answers and the calculation includes async calls so `when` will

[2013-09-03 16:44] #62 closed, assigned to nobody

[2013-09-03 16:50] #61 closed, assigned to nobody

[2013-09-06 19:16] #58 closed, assigned to nobody

[2013-09-15 19:55] jahvi opened #67 "Is it possible to repeat a prompt X number of times?"
Considering the following prompt:

[code]

Is it possible to repeat it a certain number of times? Basically I was wondering if the current state of Inquirer allowed me to achieve this functionality somehow.

[2013-09-16 04:17] #67 closed, assigned to nobody

[2013-09-17 15:58] datio opened #68 "Cursor misplaced on Mint"
When the input index moves, by using the arrow keys, to a different (than the last) character and the value gets changed, the cursor moves to the end while the index remains at its correct place.
Same happens with the password types.

Pressing the `End` key moved the cursor a few places to the right after I deleted the `3`.
![inq](https://f.cloud.github.com/assets/15472/1158294/c6eef382-1fb1-11e3-

[2013-09-26 15:06] #68 closed, assigned to nobody

[2013-09-26 15:12] #18 closed, assigned to nobody

[2013-10-04 14:19] shannonmoeller opened #73 "Support default property for checkbox and non-numeric default for list."
Currently the list type only supports index-based default values and the checkbox type doesn't support the `default` property at all, opting instead for html-like `checked` flags. This can make populating the default values from an object of defaults (such as the values stored in a .yo-rc.json file) more complex than it needs to be:

[code]

Doing these mostly-but-not-quite-entirely repetitive loo

[2013-10-04 14:38] shannonmoeller opened #74 "Add flag to accept all defaults."
I'd like to give the users of my yeoman generator the ability to specify a flag to accept all default prompt answers. This feature was in the works before yeoman was updated to use (the quite superior) `inquirer`.

I propose the addition of an optional `options` argument to the `inquirer.prompt` method:

[code]

Where options may contain the following (or similar) flags:
- `askDefaults` _boolean_

[2013-10-05 02:03] SBoudrias opened #75 "Web demo"
Note to myself I'd like to implement a browser demo of the interface.

Was thinking of using Exterminate and Shux...
https://github.com/substack/lxjs-2013-slides/blob/master/server.js#L31
https://github.com/substack/lxjs-2013-slides/blob/master/browser/main.js#L65

[2013-10-10 19:20] ruyadorno opened #76 "Change name of default parameter on Question"
**default** is a reserved keyword on javascript (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Reserved_Words) so it might be a good idea to avoid its use.

Anyways, the only real problem I have right now is jshint bugging me about it.

[2013-10-10 19:26] #76 closed, assigned to nobody

[2013-10-11 16:38] NickHeiner opened #77 "Expand functionality for a list?"
I would like to be able to use `hint` to give additional information for the currently selected list item. Is that currently possible? If not, I think it should be added. Would you be amenable to a PR?

[2013-11-02 03:53] hs3180 opened #78 "Make maxium choices.length a option"
In lib/objects/choices.js have following line

[code]

which will add paginate option when choices.length exceeds 9.

Make "9" as a option or warning this in documentation.

[2013-11-02 19:01] #78 closed, assigned to nobody

[2013-11-19 09:58] mafintosh opened #81 "Additional list options"
Great module.

I'm currently using the list prompt. It would be nice if the following options were available:
1. `wrapsAround: false` to disable that the list wraps around endlessly
2. `maxHeight: num` to set the max height to something other than 7 (a bit small for long lists)

Is this something you would be interested in adding?
I'd be happy to help out with some PRs.

[2013-11-19 14:53] #81 closed, assigned to nobody

[2013-11-20 18:19] jdespatis opened #82 "Possible to have already answered answers in validate() function?"
The fact is I have a list of questions :
- a choice among values for the first question
- input data for the second question

But I need to validate the input in the second question, according to the choice chosen just before

To support this, it would be nice if `validate()` could give, as a second argument, the answers already put by the user (the same way as `when()` provides them)

is it compl

[2013-11-20 18:40] #82 closed, assigned to nobody

[2013-12-19 22:17] SBoudrias opened #87 "Change the way separator are handled"
I like the syntax of the current Separator object, but it is not flexible.

Node.js return different instances of a module if it is called from different path. This make it very unreliable to use `instanceof`.

So, we'll update to check for separator if they have a `type=separator` property.

[2013-12-19 22:42] #87 closed, assigned to nobody

[2013-12-19 23:08] #73 closed, assigned to nobody

[2013-12-19 23:16] #64 closed, assigned to nobody

[2013-12-19 23:17] #25 closed, assigned to nobody

[2013-12-26 18:58] joseadrian opened #88 "Filter for list and checkbox"
This is what I tried to do but I just did it for the checkbox prompt. I didn't make a pull request because I haven't added the unit test and I'm not sure if the way I implemented it is ok. Also, I had to remove the J/K option to make it work

Here is a preview:

![Checkbox Inquirer](http://i.imgur.com/9cuELTX.gif)

Maybe it can support regex or fuzzy search.

[2014-01-10 00:28] webpro opened #89 "Generic callback after each question"
As I understand it, Inquirer is designed to first ask questions, then do something based on the given answers.

However, I'm in a situation where I'd like to execute an async callback after each question (with the answer given as argument).

First I was abusing the `when` option for this, but it's kind of ugly to declare a callback in another question (i.e. the next). Then I thought to abuse the `

[2014-01-23 18:13] taoeffect opened #91 "Password should behave like unistd.h getpass() function"
While echoing asterisks in cyan might look cool, it's poor security practice (reveals password length), and goes against well established UNIX conventions (that have good reasoning for them).

For those that want to disable this behavior immediately, here's some coffeescript to do that (where 'S' = string module, 'cli' = cli-color module):

[code]

[2014-01-26 01:04] stevenvachon opened #92 "Option to disable list items?"
Great for familiarized menus with currently unavailable features where simply removing the indexes could cause unfamiliarity.

[2014-01-27 06:07] stevenvachon opened #93 "Add a "then" to each question"
Sometimes, answers can result in a `process.exit()` or similar. It'd be much cleaner to achieve this with a `then:function(value){}` for each question.

[2014-01-29 02:09] djensen47 opened #94 "Split ReadlineStub into another module."
It seems like the mechanism that you've put together for mocking the Readline would be very useful for other projects. Any thoughts of splitting it into it's own npm module?

If not, I'll give it a whirl.

[2014-01-29 04:40] #94 closed, assigned to nobody

[2014-02-04 18:09] #93 closed, assigned to nobody

[2014-02-06 07:41] joaoafrmartins opened #95 "add better support for unit testing"
hey there! first of all! thank your very much for this awesome lib... i dont know if there is a better way of doing this... or if u will even consider adding some kind of support for this...

i am currently unit testing packages depending on inquirer like so

it 'should be able to prompt user for aditional information', (done) ->

[code]

although i find this to be a bit hacky... i was wondering i

[2014-02-06 22:20] sindresorhus opened #97 "Changing the answer with `filter` doesn't update the visible answer"
It updates what's returned from the prompt, but I would have expected it to also update the answer so the user could clearly see what's being returned to the app.

I expected this to show `asda-sf` as I slugified it in filter:

![screen shot 2014-02-06 at 23 17 52](https://f.cloud.github.com/assets/170270/2104569/c4d85706-8f7c-11e3-8f55-68d6effb8d6d.png)

[2014-02-06 23:04] #95 closed, assigned to nobody

[2014-03-01 00:48] brianweil opened #99 "Add support for multiline input"
I would like to add support for multiple lines of text in the input type. I use the prompt for commit messages and sometimes one line is not enough. The UI could be as simple as pressing shift+enter to move to the next line of input. Feedback from the contributors is welcome and appreciated.

[2014-03-07 05:18] stevenvachon opened #100 "Option for timeout before auto-answer"
Auto-answer would use default answer. If no default answer, then timeout doesn't start.

[2014-03-18 04:24] #100 closed, assigned to nobody

[2014-03-19 17:16] ghost opened #101 "Default value of `0` ignored."
0 as a default value is not respected.

I assume that multiple places in the code, the default is used only if it is truthy.

[2014-03-23 18:15] fluke opened #102 "In list with when function, pressing up or down opens the list again."
[code]

I'm trying to implement a follow up list with two options but when the options show moving up and down creates the prompt again though it moves.

[2014-03-23 18:57] #102 closed, assigned to nobody

[2014-03-26 06:18] akshaykumar6 opened #104 "How can we implement radio button like checkboxes?"
I want to implement something similar to radio buttons using type:"checkbox". Is there any event which will be triggered every time I will toggle a checkbox? Or is there any other way to implement it?

[2014-03-26 12:26] hariadi opened #105 "0."

[2014-03-26 12:26] #105 closed, assigned to nobody

[2014-03-26 14:21] #104 closed, assigned to nobody

[2014-04-05 17:10] sindresorhus opened #107 "Cursor is not restored on process.exit()"
When doing `process.exit()` after starting Inquirer the cursor is not restored.

You can probably listen to `process.on('exit')` and restore it there.

[2014-04-16 07:56] bajtos opened #108 "Enter empty value for input with default"
Consider the following prompt:

[code]

It is not possible to submit an empty value now (meaning "do not use any proxy"), because an empty response is always converted to the default value. See [lib/prompts/input.js#L70](https://github.com/SBoudrias/Inquirer.js/blob/e744e57b19b63f77807c21951afabc479b25b0dc/lib/prompts/input.js#L70).

A workaround is to add a special non-empty token (e.g. `none`) a

[2014-04-16 11:30] #108 closed, assigned to nobody

[2014-04-28 18:39] stephenplusplus opened #109 "Double key entry"
I'm not sure if this is an issue here or with the generator, but the ghost issue we had before has reappeared. Here's a gif to help me explain:

![yo-uh-oh mov](https://cloud.githubusercontent.com/assets/723048/2821290/6312e35c-cf04-11e3-9699-c87c502df890.gif)

[2014-04-29 17:23] #92 closed, assigned to nobody

[2014-04-29 17:23] #97 closed, assigned to nobody

[2014-04-29 17:23] #101 closed, assigned to nobody

[2014-04-29 17:33] #107 closed, assigned to nobody

[2014-05-08 17:36] kaelzhang opened #111 "SyntaxError: Octal literals are not allowed in strict mode"
[code]
## How to produce
- env: node.js >= 0.10.7
- alias node='node --use-strict'

I am using node.js 0.11.13 with `--harmony` to have a taste of generator functions and `yield`. To do this, I also have to turn on the `--use-strict` flag.

[code]

But in strict mode:

[2014-05-08 19:11] kaelzhang opened #113 "Feature: this.async() in question.default"
Why not support `var done = this.async()` in `question.default` ?

[2014-05-08 19:39] #111 closed, assigned to nobody

[2014-05-09 03:12] kaelzhang opened #115 "warning: possible EventEmitter memory leak detected"
## Environment
#### node: `0.11.13`

node 0.11.0 changes a little, including this warning and `require('events') === EventEmitter === events.EventEmitter`
#### node --harmory --use-strict

It's my config but nothing to do with this warning.
## The warning details

[code]

[2014-05-09 04:10] #115 closed, assigned to nobody

[2014-05-14 02:37] carlosacabrera opened #116 "Issue with prompt after inquirer.ui.BottomBar have been declared"
Prompt type "confirm" echoes the user input twice when the inquirer.ui.BottomBar is declared in a variable. Normally the prompt would work as follow:
[code]

*Terminal (OSX)*
1- Run and pressed the key "y" one time
[code]
2- Pressed "Enter"
[code]

However, when I declare a BottomBar as shown below in line 2:
[code]

*Terminal (OSX)*
1- Run and pressed the key "y" *one time*
[code]
2- Pressed "Ent

[2014-05-15 05:12] #91 closed, assigned to nobody

[2014-05-20 23:27] eddiemonge opened #118 "Checkboxes disable other choices based on selection"
Itd be nice to have the choices in a checkbox be able to be disabled if one of the choices is checked.

choices:
- [ ] I am not disabled
- [ ] only I can be checked

---
- I am now disabled - disabled
- [x] only I can be checked

[2014-05-25 19:13] sindresorhus opened #119 "Respect color flags"
re https://github.com/yeoman/yo/issues/170

You can use [has-color](https://github.com/sindresorhus/has-color) which respects the `--color` and `--no-color` flags and or better yet use [chalk](https://github.com/sindresorhus/chalk) for coloring and you'll get it for free.

[2014-05-26 10:51] soyuka opened #121 "Tests fail on node 0.8"
#120
#119

[2014-05-27 03:22] #121 closed, assigned to nobody

[2014-05-27 03:22] #119 closed, assigned to nobody

[2014-06-04 19:21] eddiemonge opened #122 "filter, validation order"
Which is fired first, filter or validation? Can the order be customized?

[2014-06-04 19:46] eddiemonge opened #123 "Displayed value is as entered instead of filtered"
Perhaps the show value after entering a prompt should be the filtered value instead of the as-entered value to better let the user know what is going on

[2014-06-04 21:03] #123 closed, assigned to nobody

[2014-06-07 03:30] kaelzhang opened #125 "`question.filter` with type `input` will be executed more than once."
This will fail:

[code]

`prompt/base` already run the filter, but [here](https://github.com/SBoudrias/Inquirer.js/blob/master/lib/prompts/input.js#L76) does it again

[2014-06-19 05:51] #113 closed, assigned to nobody

[2014-06-21 12:00] webpro opened #128 "Getting through async when function in Node.js 0.11.x"
The following code for me leads to the output you can see in the image. So, sometimes it requires an extra key press (any key) to get through, sometimes it doesn't.

When checking the Node version, it surprised me to find a didn't have this issue at all in v0.8.26 and v0.10.26. The image shows behavior using Node v0.11.12.

Does anyone experience the same or similar issues in Node.js 0.11.x? Is it

[2014-06-24 22:04] stephanebachelier opened #129 "possible EventEmitter memory leak warning"
While running `grunt` I had this warning:

[code]

It has already been stated in #114.

I'm on node v0.11.3

[2014-06-24 22:09] #129 closed, assigned to nobody

[2014-07-01 20:49] lakenen opened #130 "Allow file tab-complete/globbing in input type"
From https://github.com/dylang/grunt-prompt/issues/21

Not sure if this is possible, but it would be cool to be able to tab-complete or use globbed filenames in a text input (or maybe a `file` input type?). Thoughts?

[2014-07-03 06:24] SBoudrias opened #131 "Using RxJs internally"
Inquirer have been around a while now, and the basic classes handling the prompts doesn't scale very well anymore.

I want to explore RxJs to handle the prompt code. IMO, the concept behind reactive programming fit very well Inquirer uses cases. Basically, we got a list of prompts definitions we want to resolve and map to user answers. Meta:

[code]

From the user perspective this could allow dyna

[2014-07-05 17:32] khmelevskii opened #133 "Change the default option depending on a previous answer?"

[2014-07-05 17:33] #133 closed, assigned to nobody

[2014-07-09 16:25] khmelevskii opened #134 "Generate prompts depends by answer"
for example, i have prompt

[code]

answer, for example, is `foo,bar,zzz`

`props.additionFields.split(',')` and i want questions:

[code]

[2014-07-09 18:17] #134 closed, assigned to nobody

[2014-07-11 06:31] hansvb opened #135 "Why is pressing enter needed for one-key shortcuts in an expand?"
Expand:
- could be more efficient (less keystrokes for user) if `<enter>` was not needed
- needs an option `showHelp` (defaults to `false`)
- perhaps needs an option `browsable` so that it can be a _list-expand-hybrid_

I would like to use inquirer for an application where main menu-items have one-key interface **and** are selectable with arrow-keys. (Keys `j` and `k` should probably not be allowe

[2014-07-11 12:03] #128 closed, assigned to nobody

[2014-07-11 20:04] andrezsanchez opened #136 "Async filter"
It would be nice to have an asynchronous filter method

[2014-07-27 02:02] #131 closed, assigned to nobody

[2014-08-07 05:39] #136 closed, assigned to nobody

[2014-08-07 05:39] #125 closed, assigned to nobody

[2014-08-13 13:42] UltCombo opened #139 "Accept function for question object `message` property?"
Hello,

Can we add support for accepting function callbacks to return a question `message` based on the current session's answers?

Here's my use case, currently using a dirty hack to accomplish my goal:

[code]

I'd like to be able to rewrite the above code using a callback for the `message` property:

[code]

Would this addition be welcome?

[2014-08-15 19:46] SBoudrias opened #145 "Update suffix to only add `:` if last char is alphanumeric"
related to https://github.com/SBoudrias/Inquirer.js/pull/143#issuecomment-52347288

[2014-08-15 20:09] sindresorhus opened #147 "Remove overflow message when list is scrolled"
re https://github.com/SBoudrias/Inquirer.js/pull/146

Would be nice if the "move up and down" message disappeared when the user started moving up or down.

[2014-08-15 20:12] sindresorhus opened #148 "Esc key should exit the process"
Terminal noobs are used being able to use the `esc` key to exit the process.

[code]

[2014-08-15 20:49] sindresorhus opened #149 "Using a separator makes the pointer change position"
Not sure whether it's intended or not, but looks wrong.

![2014-08-15 22_48_55](https://cloud.githubusercontent.com/assets/170270/3938750/9b9d26ec-24bd-11e4-9d00-45aa4cf0b158.gif)

Relevant code:
https://github.com/yeoman/yo/blob/ec829c3126fdc192a61833f0e2041799c4713a23/yoyo.js#L380-L384

[2014-08-15 22:12] sindresorhus opened #150 "Filter `name` when using choices with name/value"
Here only the value is returned, but I want to also be able to change the name, as I want it to be show differently in the CLI.

![2014-08-16 at 00 10](https://cloud.githubusercontent.com/assets/170270/3939550/17246766-24c9-11e4-9eb5-78203c18ff84.png)

Should be able to change this text.

[code]

Maybe return an object in the `filter` function instead which would enable you to change both.

[2014-08-17 06:21] SBoudrias opened #152 "Registering API - plugins, mocking"
I want to add a register API to inquirer so user can provide custom prompts.

This will allow to register plugin prompt - or simply providing mocks.

Example API:

[code]

That should be fairly simple to implement considering prompt are already matched by named to a constructor. This would only provide a public API on top of it.

Relevant actual file: https://github.com/SBoudrias/Inquirer.js/blob/

[2014-08-18 16:46] hemanth opened #153 "Recursive multiple prompts."
[code]

With code something like above, even after typing `Yes` for the first question the prompt proceeds to the next one, should it not loop back to the first question? //cc @SBoudrias

[2014-08-18 19:01] #153 closed, assigned to nobody

[2014-08-28 14:14] 0x6e6562 opened #154 "Validating a checkbox appears to hang"
Using the `checkbox.js` example, I'm running into an issue when I deliberately de-select all options to force the validation rule to file (see below):

[code]

So the validation works as expected, but the problem is that there doesn't seem to be a way to return the focus to the UI so that the user can correct their input - at this point, the UI appears to hang.

Am I maybe missing something? Is th

[2014-09-01 04:08] #152 closed, assigned to nobody

[2014-09-01 04:27] #145 closed, assigned to nobody

[2014-09-01 04:51] #148 closed, assigned to nobody

[2014-09-01 04:56] #89 closed, assigned to nobody

[2014-09-01 04:58] #88 closed, assigned to nobody

[2014-09-02 00:31] #154 closed, assigned to nobody

[2014-09-04 08:38] kxbrand opened #156 "In powercmd, the inquirer is not working."
In powercmd, the inquirer is not working.
 Can not choose, can not input

[2014-09-04 18:07] #139 closed, assigned to nobody

[2014-09-10 12:07] akwangho opened #157 "Can we use inquirer.js synchronously?"
Hi,

The "when", "validate", "message", "default" and "filter" in inquirer.js are really cool.
However the asynchronous callback is tough to write comprehensive code.
I'm curious is there any approach to use inquirer.js synchronously?
Because I intend to insert a lot of logics between questions and may also generate questions dynamically.

A synchronous call is something like:
var answer = inquire

[2014-09-10 13:18] #157 closed, assigned to nobody

[2014-09-11 00:19] SBoudrias opened #158 "use YN"
Because Y-Not https://github.com/sindresorhus/yn

[2014-09-12 21:35] SBoudrias opened #160 "Use radio icons"

[2014-09-15 02:31] SBoudrias opened #161 "Instantiable inquirer.prompt"
ATM `inquirer.prompt` is a global singleton.

This works well for most cases, but it doesn't scale very well when we handle objects who can interact with the user or when we want to mock inquirer for certains objects while keeping the original for some other.

All in all, allowing to create independent instances of `inquirer.prompt` will be more scalable for most programmatic uses.

[2014-09-15 02:49] #160 closed, assigned to nobody

[2014-09-22 05:04] SBoudrias opened #164 "Fix node 0.8 Travis or drop"
Not sure why NPM die on Travis with node 0.8

I use the same technique over https://github.com/SBoudrias/AST-query and it's been working all good... Need investigation - or I might just drop 0.8 tests running as it is mostly dead.

[2014-09-25 03:48] #161 closed, assigned to nobody

[2014-09-25 05:16] #164 closed, assigned to nobody

[2014-09-30 15:04] tonylukasavage opened #166 "override like prompt?"
One bit of functionality missing from `inquirer` that I found indispensable in [prompt](https://github.com/flatiron/prompt) is the ability to provide an `override` to the prompting process. So in the case of `inquirer`, if I have 2 questions I want to ask, but in previous code I've already determined the value of 1 of them, I'd love it if I could do something like this:

[code]

In the above case,

[2014-09-30 20:28] tonylukasavage opened #167 "multi-line validate messages screw up prompt rendering"
### problem

Whenever I add `validate` to a question and it returns an error with more than one line of text (either explicitly defined as multi-line in the code, or overrun in the terminal), the subsequent rendering of the prompts gets all muddled up. It appears as though the prompts assume that the error will only be one line.

### test case
[code]

### results
[code]

[2014-10-01 01:29] fuechter opened #168 "InquirerJS in sync mode"
Can run InquirerJS in sync mode?

Example:

[code]

[2014-10-01 02:12] #168 closed, assigned to nobody

[2014-10-02 15:48] bmeck opened #170 "way to dump prompt to console (non-interactive)"
useful when doing things like making a checklist but we are not running a tty

[2014-10-05 17:57] akwangho opened #171 "Render not work normally when using terminal through serial port"
## Problem

When using terminal through serial port (baud rate: 115200, Parameters: 8N1) with Inquirer.js. I found the render is very strange.
Please see following examples.
###### The First Example

[code]

Press <_backspace_> key and result in:

[code]

Right, the whole question with answer (**? Is it for a delivery: (y/N) ab**) was rendered again in a wrong position.
###### The Second Example

[2014-10-06 12:51] akwangho opened #173 "Validation message of rawlist does not show up correctly in Mac OS"
Mac OS version: 10.9.4.
[code]
After press <*Enter*> and result in
[code]
That is, the question (? What do you want to do?) was in a newline and no validation message prompt.

BTW, I found we can simply comment out following line
`.write( clc.bol(0, true) )`
inside `Prompt.prototype.onError` in `rawlist.js` to workaround this issue.

So far I have not see any side effect both in Mac OS and termina

[2014-10-07 17:50] przemyslawpluta opened #174 "win7 beep sound"
This is a curious one ... might be system specific? ... it looks like when the list has been rendered and user is going through the available options `beep` sound can be heard when first and last 3 elements are viewed.

Thanks.

[2014-10-08 23:09] gdbtek opened #175 "Increase pageSize"
I noticed the pageSize default is 7, is there anyway for me to increase this default value programmatically?

Thanks

[2014-10-08 23:12] #175 closed, assigned to nobody

[2014-10-09 20:43] adibiton opened #176 "Delete on prompt can cause the deletion of (non-related) lines"
I'm testing with cmd (windows 7) - i created a simple example (with one input) -
var inquirer = require("inquirer");
inquirer.prompt([{
	name: "firstQuestion",
	message: "what is your name?"
}], function(answers) {

});

1. Enter more than one line as an input
2. Try to delete the input (pressing the delete button constantly) - you will notice that the delete action deletes some (not related) line

[2014-10-14 10:41] Asheboy opened #177 "Password prompt should display no characters"
Password prompt should display no characters when entering text, or there should be an option to enable this behaviour. This would mimic the behaviour of applications like ssh-add.

[2014-10-17 15:39] #171 closed, assigned to nobody

[2014-10-23 10:37] thaiat opened #179 "validate does not run for list"
Looks like validate fn never runs when defining a list.

Here is a quick repro

[code]

[2014-10-23 18:02] #179 closed, assigned to nobody

[2014-10-29 04:14] dylang opened #180 "don't hardcode pagination settings"
It would be nice if the number of entries that caused paging to be enabled was adjustable, or at least defaulted to something closer to [`process.stdout.rows`](http://nodejs.org/api/tty.html#tty_ws_rows).

[code]
https://github.com/SBoudrias/Inquirer.js/blob/master/lib/objects/choices.js#L143-145

[code]
https://github.com/SBoudrias/Inquirer.js/blob/master/lib/objects/choices.js#L155

[2014-11-02 00:55] nhubbard opened #182 "Is it possible to run something upon a choice?"
Hi, I was creating a CLI for my app.

I was wondering, can I run a specific command if a specific choice is made.

Can I do this, or am I looking at the wrong thing?

[2014-11-02 01:18] #182 closed, assigned to nobody

[2014-11-07 15:18] nhubbard opened #183 "Node crashes with "Unidentified unidentifier""
Hey there. I have a filter on all of my questions that goes like the following:

[code]

But when I run the program, I get the following error:

[code]

Am I doing something wrong?

The `node` program was also pointing directly to the `filter` part.

[2014-11-07 18:06] CWSpear opened #184 "A Way to React to Input/Dynamic Questions?"
Is there a way to react to 1) input and have more/fewer prompts based on answers to previous questions and/or 2) to have extra explanation text between questions?

For example, what I _want_ to happen:

[code]

Note the extra text after the 2nd question.

For the 2nd part, imagine that a user has a public directory of `public` and want all the assets in a subdirectory, i.e. `assets` (common if thi

[2014-11-07 18:10] #184 closed, assigned to nobody

[2014-11-07 18:59] #183 closed, assigned to nobody

[2014-11-07 22:04] SBoudrias opened #185 "`when` to take boolean value"
Found out a function is not always necessary and a bit of an overhead.

This value could simply be a boolean value.

[2014-11-07 22:06] SBoudrias opened #186 "`when` to take current prompt as parameter"
[code]

[2014-11-14 22:31] tonylukasavage opened #189 "fromArray is deprecated, use from instead"
* inquirer.js 0.7.3 and 0.8.0
* node.js 0.10.32

I'm getting this error essentially anytime I run `prompt()` ever since [rx updated to 2.3.15](https://www.npmjs.org/package/rx):

[code]

[2014-11-18 16:34] Swiip opened #190 "Add reactive interface example"
I use inquirer though a yeoman generator. I wanted to try to ask questions dependents from the first answers so I jump on the reactive interface feature. I updated yeoman-generator to 0.18 to have inquirer 0.8.

I'm totally new to RxJS and the doc from the readme is quite short. I was not able to make it work.

Can you provide a working example of using an observable list of questions? The must wo

[2014-11-20 10:26] ccorcos opened #191 "pizza example bug?"
I'm using zsh and when I type in comments and it goes beyond the window width, something weird happens.

[2014-11-26 16:02] gizburdt opened #192 "Group questions"
Working on a Yeoman generator, within the `prompting` priority. Is it possible to group questions?
So for example:
1. General stuff
2. Then maybe log something
3. Contact information
4. Log/do something else
5. Personal information

This maybe prevents the user from being overwhelmed with questions

[2014-11-26 16:48] #192 closed, assigned to nobody

[2014-12-09 19:07] jviotti opened #194 "Prompt fails in Cygwin"
I get the following error when trying to display a prompt in Cygwin (I'm not sure how to check the version):

[code]

The exception doesn't happen on `cmd.exe`.

Inquirer: `0.8.0`
Node: `v0.10.33`
Windows: `8.1`

[2014-12-12 20:39] shellscape opened #196 "Error-first Callbacks"
I'm working in ES6 land and using a lot of thunks and yields. While I have Inquirer wrapped in order to provide the error-first callback that thunks expect, it'd be nice to have that directly available. I'm not suggesting the change outright, but rather would like to start a dialogue about it. I'm curious to know the reasons behind using a data-only callback to return answers versus the relatively

[2014-12-17 14:48] wayou opened #198 "access anwsers in validate callback"
is it possible to retrieve the answers within the validate callback?

the scenario is that i wanna validate an input by the previous answers.

[2014-12-21 15:25] enzolutions opened #199 "Rawlist I can't up or down with arrow keys in keyboard"
I'm did a rawlist prompt and everything works perfectly, except navigate among options using keyboard arrows I use the following code with 0.8.0 version

[code]

[2014-12-22 14:42] jviotti opened #200 "Allow disabling colour highlighting"
I'd like to switch off colour highlighting in some cases.

I understand Inquirer delegates colouring to https://github.com/medikoo/cli-color, which I don't know if it supports disabling such thing.

[2014-12-22 19:16] #200 closed, assigned to nobody

[2015-01-04 19:56] tkellen commented on #196
That's a bad reason. The lack of adherence to this node standard breaks an entire ecosystem of control flow libraries that compose callback-taking methods. Would you consider bumping major to fix this?

[2015-01-04 19:57] tkellen opened #201 "default is a reserved word"
https://people.mozilla.org/~jorendorff/es6-draft.html#sec-keywords

Would you consider bumping major to change it to defaultsTo or something similar?

[2015-01-05 01:01] SBoudrias commented on #201
Default could be used as an object key in es5 - has it changed for es6?

[2015-01-05 01:20] tkellen commented on #201
Now I am doubting myself... I may be conflating reserved words and identifiers. @rwaldron, could you weigh in here?

[2015-01-05 01:53] rwaldron commented on #201
tld;dr: reserved words are ok to use as property names.

IdentifierName can be any word, including ReservedWord (which itself includes Keyword,  FutureReservedWord, `null`, `true` and `false`). PropertyName is always an IdentifierName, so indeed any ReservedWord is allowed as a PropertyName (as of ES5 and forever). Identifier can be any IdentifierName, but not ReservedWord (those are: FunctionDecl

[2015-01-05 01:54] tkellen commented on #201
Thanks @rwaldron.  Ignore me @SBoudrias.

/cc @carldanley, I was wrong!

[2015-01-05 01:54] #201 closed

[2015-01-05 01:55] rwaldron commented on #201
No problem :)

[2015-01-07 07:11] 7nights commented on #109
@rodriguise
The same problem. Have you found a solution?

[2015-01-08 15:08] pmyagkov opened #202 "Accept promise as a result of 'choices' function"
My scenario requires some async work within `choices` function, and I can't achieve it without workaround right now.

[2015-01-08 15:27] pmyagkov commented on #202
Sorry, I haven't seen `this.async()`. Thanks.

[2015-01-08 15:27] #202 closed

[2015-01-08 22:57] jameswomack commented on #99
This would be great for doing things like blog posts from the command-line. Hexo would do well to integrate this.

[2015-01-10 05:54] MohamadAtieh commented on #198
+1
My case is that I want to validate the current answer **if and only if** a previous answer was given. The line [here](https://github.com/MohamadAtieh/MineTwitter/blob/master/miner.js#L65) - based on [this one](https://github.com/MohamadAtieh/MineTwitter/blob/master/miner.js#L42)

[2015-01-12 16:38] sindresorhus commented on #149
@SBoudrias

[2015-01-12 19:49] SBoudrias commented on #149
This is effectively not intended.

[2015-01-13 21:26] himynameisdave commented on #198
+1
This should really exist already && I have the same concern as @MohamadAtieh. My current workaround is to have two sets of prompts (synchronous), the second one based on the results of the first set. It feels ugly && this is a *bad UX* for people using [my yeoman generator](https://github.com/himynameisdave/eggs-genny).

[2015-01-13 21:44] mischah commented on #198
:+1:

Would love to have that. My use case:
I have [prompts](https://github.com/micromata/generator-bootstrap-kickstart/blob/develop/app/index.js#L63-L88) to name directories and feel the need to validate against already given answers to prevent naming directories the same. Because that would mess things up badly.

@himynameisdave
It seems that »someone« has to send a PR according to the [tweet](h

[2015-01-13 21:48] himynameisdave commented on #198
I sort of overexaggerated the bad UX thing. It *works* but its just to me as the developer it looks sloppy/I wish there was a cleaner way to do it. To the user it pretty much does what you need.

[2015-01-13 21:49] SBoudrias commented on #198
The key line is this one: https://github.com/SBoudrias/Inquirer.js/blob/e146441bb83f565801fd31db53cb4f30044fbf8b/lib/prompts/base.js#L151

The answers are passed to the constructor, so they should be available at that point.

[2015-01-13 23:23] mischah commented on #198
@SBoudrias

Thanks for the hint. But it seems that I’m not advanced enough in JS architecture to implement that.

Would you accept a PR providing an example and the test and you take care of the implementation within `/prompts/base.js`?

Just in the case, that no one else is willing to send a PR dealing with the whole thing. :smirk:

[2015-01-13 23:26] SBoudrias commented on #198
Yes, that would be a good/helpful first step

[2015-01-14 22:20] masondesu commented on #109
FWIW, I ran into the same issue when I when requiring (and using) Inquirer in two separate modules, both of which were being required by a third module.

I resolved the issue temporarily by reducing it to a single `var inquirer = require('inquirer');` for my entire app, and passing that var around when needed, which obviously isn't ideal. Hope that helps :dancer:

[2015-01-16 14:43] MohamadAtieh commented on #198
I think if we can pass the `answers` object to `validate` just like `when`, somehow, then that would be it.

Having `validate` to accept either one or two parameters, making the first one the input value (required) and second (optional) parameter be the `answers`object? Is that a possible?

[2015-01-19 23:07] dnozay opened #203 "list prompts break when default is not one of the list choices."
Tried to use a generator with all the default options.

It failed with:
[code]

Here is the code for the list prompts:
[code]

and here is the code from the generator.
[code]

[2015-01-19 23:13] dnozay commented on #203
as you can see if `default` is not one of the `choices` it breaks at runtime; it's fine to close this as "not a bug" but maybe we can make that part fool-proof.

[2015-01-21 11:35] adriengibrat opened #205 "Errors on windows and centos about dev/tty"
Errors showed up in v0.8.1 this morning
see [comment on commit](https://github.com/SBoudrias/Inquirer.js/commit/b666d2a2f0d42b8f1987b9b9efd3476d96517598#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R31)

[2015-01-21 19:07] knownasilya opened #206 "[Feature Request]: list cycle option"
Currently the list keeps cycling if you hit arrow up or down, there should be an option: `cycle: false`.

[2015-01-21 19:19] SBoudrias commented on #206
What would this option do?

[2015-01-21 19:20] knownasilya commented on #206
Basically if you reach the end of the list, clicking down  will not do anything. Same thing when going up.

[2015-01-21 19:25] knownasilya opened #207 "node debug issues"
Here's the error, when trying to hit 'Enter' on an option after `node debug index.js`.

[code]

[2015-01-21 19:30] SBoudrias commented on #207
This is the commit causing your issue: https://github.com/SBoudrias/Inquirer.js/commit/9abf288afb06a7133f1eddeb61eddb7f983fba1a

Feel free to send a PR fixing it. Basically copying this logic in an internal helper or an external package: https://github.com/medikoo/cli-color/blob/master/index.js#L98

[2015-01-21 22:33] justin-calleja opened #209 "Duplicate prompts on Rx usage"
If you try running the following:

https://gist.github.com/justin-calleja/833718609ba78143a939#file-pizza-js

you should get duplicate prompts like I am. I am new to RxJS and this is probably due to my lack of experience. If so, how do I avoid this (and why is it happening?)?

Also, I have tried using Rx.Observable.create as given in an example in the README.md (as opposed to Rx.Observable.fromArr

[2015-01-21 22:49] SBoudrias commented on #207
FYI I unpublished inquirer 0.8.1

To fix further issue for now:

[code]

[2015-01-21 22:49] SBoudrias commented on #205
FYI I unpublished inquirer 0.8.1

To fix further issue for now:

[code]

[2015-01-22 00:40] eboto opened #210 "Unpublishing inquirer 0.8.1 broke yeoman install"
My company's continuous integration started failing a few hours ago with the un-publishing of inquirer@0.8.1.
[code]

Can you consider re-publishing it, then publishing 0.8.2 as a reversion of the change you wanted to revert? I think that removing the artifact might screw with various cacheing mechanisms with systems like npm's.

[2015-01-22 01:12] SBoudrias commented on #210
I fixed it on yeoman side.

[2015-01-22 01:12] #210 closed

[2015-01-22 19:17] #207 closed

[2015-01-23 16:24] pigulla commented on #198
+1 for this!

[2015-01-26 19:24] gdbtek opened #211 "Error: ENXIO, no such device or address '/dev/tty'"
I got following errors when I build my project, which use `Inquirer.js`, under Jenkins Ubuntu x64. However, I don't get this errors when I SSH to the box and run from ssh console. Any thought?

[code]

[2015-01-26 19:26] SBoudrias commented on #211
Update your inquirer version, we unpublished the version using ttys for failures it could cause in CI.

[2015-01-26 19:28] gdbtek commented on #211
@SBoudrias  so I should use https://github.com/SBoudrias/Inquirer.js/releases/tag/v0.8.0 instead of `v0.8.1`, am I correct? Thanks

[2015-01-26 19:34] gdbtek commented on #211
use `v0.8.0` and now I don't have the issue. Thanks

[2015-01-26 19:34] #211 closed

[2015-01-29 01:28] yoshokatana opened #212 "trying to hack in back button functionality, getting weird errors"
I'm trying to allow users to go to a previous question while retaining the answers they've already given, but I can't seem to hack anything together. When I tried to simply recreate the prompt, I started getting duplicate data. Here's the relevant bits of code: https://github.com/yoshokatana/magfest-radios/blob/master/lib/main-screen.js#L105

Any ideas?

[2015-01-29 01:33] SBoudrias commented on #212
You'll need to close an inquirer session (prompt) before you can open another one. There's only a single tty available, so here you duplicate the number of prompts listening for answers at the same time.

[2015-01-29 01:33] #212 closed

[2015-01-29 14:50] yoshokatana commented on #212
Ahh, that makes sense.

[2015-01-30 22:15] jlukic commented on #185
:+1:

[2015-01-30 22:15] jlukic commented on #206
:+1:

[2015-01-30 22:18] jlukic opened #213 "Any Key Prompt"
It would be nice to consider adding a  "Any key" prompt, that just displays a message and cycles to next question when any key is pressed.

Would be useful for passing along messages without asking for input.

[2015-02-04 16:19] callumacrae opened #214 "inputs repeating question when input wraps"
Sorry for the rubbish title, this is better explained by example.

![screen shot 2015-02-04 at 16 19 58](https://cloud.githubusercontent.com/assets/472830/6044188/b32b33b8-ac89-11e4-9c2c-c139ce26eba6.png)

If the input goes onto the next line, the question repeats for every character over the new line. It's a bit strange.

I'm using zprezto in iTerm2. Let me know if you need to know anything else.

[2015-02-04 19:08] SBoudrias commented on #214
The prompt is re-rendered each time someone type a character, so my guess is once we have a line return the cleanup code for the previous line is not affecting a correct line.

A fix could be to compare the real line length to the terminal width and determine how many line we need to cleanup.

[2015-02-05 10:14] callumacrae commented on #214
Does seem to be what's happening: when the prompt becomes three lines long, the first two aren't touched.

I don't know how to write a test for this, sorry. Can you replicate it?

[2015-02-06 18:32] PaperElectron commented on #196
I just stumbled on this issue myself, I have a pretty complicated setup composed of a bunch of reusable prompts. I figured I would just use bluebirds Promise.promisifyAll() to compose them into the order I wanted. No dice, my promises all get resolved on the .catch or .error handler though...

[2015-02-11 06:46] kuborgh-bzoerb opened #215 "Message function prints out function body instead of return value (Ubuntu + Putty)"
[code]

results in
[code]

[2015-02-11 06:58] kuborgh-bzoerb commented on #215
got an outdated version. is already fixed

[2015-02-11 06:58] #215 closed

[2015-02-19 18:22] timmyg commented on #177
anyone know how to hack this together @Asheboy @danielchatfield?

[2015-02-20 10:22] Asheboy commented on #177
You certainly can hack it together by removing https://github.com/SBoudrias/Inquirer.js/blob/master/lib/prompts/password.js#L148-L152. You'd really want to remove that function, alas, I receive an error of which I do not have time to resolve at the moment. I might take another look this evening

[2015-02-20 18:38] SBoudrias commented on #177
You can create a custom prompt and register it on Inquirer so you or other people can use it without hacking Inquirer source in a way that'll be unmaintainable.

[2015-02-20 18:39] timmyg commented on #177
yea ok, I'll mess around with it and hopefully send a PR this weekend or early next week.

[2015-02-23 21:21] kylemac opened #217 "multi entry input type"
hey all, I find myself creating prompts that I split by spaces to make arrays quite a bit so I thought i'd propose a new `multi` input type. I've worked most of it out and I wanted to run it by you to see if you think it's even viable. I am mostly looking for feedback on the UX -- as it probably presents the hardest challenge.

![e8ybfdsvvr](https://cloud.githubusercontent.com/assets/49507/6337465

[2015-02-23 21:27] SBoudrias commented on #217
How about simply asking for a list of values separated by commas in an input prompt?

The issue with using `x` as an exit value is that it'll prevent using it as a valid value.

[2015-02-27 11:01] igorlino opened #220 "outdated lodash - improving performance"
There is a newer version of lodash (3.3.1) which  improved performance 20-40% overall  by better utilizing the JIT in JavaScript engines, using internal helper functions that avoid optimization disqualifications & increase the likelihood of function inlining.

lodash 3.0.0 is 40%  (1.40x) faster than lodash 2.4.1.

In v3 also introduced were lazily evaluated chaining for massive performance wins i

[2015-02-27 19:15] SBoudrias commented on #220
PR welcome.

[2015-02-27 19:52] przemyslawpluta opened #221 "bypass inquirer"
Is there a way to pass answers to `inquirer` ... let's say when config file has been specified and all the questions required previously by manual entry are now available in the configuration file? Thanks.

[2015-02-27 19:58] SBoudrias commented on #221
This is something you can handle in your code via a façade. You can check how Yeoman does it https://github.com/yeoman/generator/blob/master/lib/test/adapter.js#L47-L51

But it is not something that should be handle by Inquirer.

[2015-02-27 19:58] #221 closed

[2015-02-27 20:32] igorlino commented on #220
Great.  Done, here it is:
https://github.com/SBoudrias/Inquirer.js/pull/222

[2015-02-27 20:33] przemyslawpluta commented on #221
Thanks for the tip @SBoudrias

[2015-02-27 20:51] #220 closed

[2015-03-02 22:24] dakal-oleksandr opened #223 "Separator as a plain object"
Hi.
I propose to change listRender, and give possibility to specify separator as plain object:
[code]
So it will be possible to add such choice:
[code]

[2015-03-02 22:36] SBoudrias commented on #223
Why?

[2015-03-02 22:41] dakal-oleksandr commented on #223
Then it can be used in Yeoman without additional require of Inquirer.js

[2015-03-02 22:47] SBoudrias commented on #223
Pretty sure you can currently pass a raw object and it'll just work.

[2015-03-02 22:51] dakal-oleksandr commented on #223
No) It's returns [object Object]

[2015-03-03 09:40] mistermark opened #224 "Mocha test example of Checkbox (and maybe others)"
Could you guys provide an example of how I can use Mocha/Should combination testing on the checkbox functionality?

I've been trying to get this working, but I'm stuck at the moment on triggering keystrokes to select one or a few options and passing this value to the test results. Right now I can select an option and give an `[enter]`, but it fails on an apparent empty value retuned. See example b

[2015-03-03 14:27] #194 closed

[2015-03-03 19:03] SBoudrias commented on #224
Just mock `inquirer.prompt()` method. You don't need (or want) to send tty events for testing.

[2015-03-03 19:03] #224 closed

[2015-03-04 20:37] dakal-oleksandr commented on #223
So can it done?

[2015-03-04 21:05] SBoudrias commented on #223
If you send a PR, it can.

[2015-03-12 00:52] malandrew opened #225 "auto-complete list"
It would be super nice to have an autocomplete list input type which is a hybrid of the `input` and `list` input types. Having it be capable of async (so you can make remote requests and redraw the filtered options in the terminal) would be a plus.

(cc: @lxe)

[2015-03-12 12:56] snuggles08 opened #226 "[Feature Request] Have prompt return same value as callback"
Useful for passing into if statements, to retain code style.

[2015-03-12 18:24] SBoudrias commented on #226
I don't understand your request.

[2015-03-13 15:48] snuggles08 commented on #226
Example
[code]
As opposed to:
[code]

[2015-03-13 17:48] SBoudrias commented on #226
inquirer.prompt is an asynchronous function. It can't return anything.

[2015-03-13 17:48] #226 closed

[2015-03-14 01:11] flovan commented on #167
I think I found another bug that overlaps with the behaviour reported above.
When the default value of a prompt spans across a new line, the error message gets cut off by the amount of characters already present on that line.

Example result with response "this is an error message":
[code]

[2015-03-18 22:44] jergason commented on #196
I have the exact same issue as PaperElectron. Conforming to the node api makes a lot of sense and makes it easier to interoperate with other tools, even if the error will never be present.

[2015-03-19 12:15] shellscape commented on #196
@SBoudrias doesn't look like I'm alone in this situation, several good points made. Reconsideration?

[2015-03-19 15:31] SBoudrias commented on #196
Oh, it'll be done, but this will require a major version bump. I'm just not quite ready for this bump as there other thing I'd like to fix first.

[2015-03-19 15:33] PaperElectron commented on #196
@SBoudrias @shellscape I figured this would be the case, as it is going to break for everyone that already wrapped it.

[2015-03-23 05:32] SBoudrias opened #227 "Lazy loading"
The action of `require`ing Inquirer is costing 100~150ms. Inquirer shouldn't bind the stdout until it is actually used.

[2015-03-27 20:03] adamzr opened #228 "Default should be hidden on prompt question for password type"
Right now when you are asked a question the prompt shows the default answer in light gray. This is good for most questions, but not for password. Defaults are often used when we are remembering the user's last answer. In such a user case this will display the user's last entered password. Ideally it should just show a group of stars.

Current example:

What is your password? (password123)

Suggest

[2015-03-27 20:06] SBoudrias commented on #228
Does it even makes sense for password to allow a default?

[2015-03-27 20:09] adamzr commented on #228
The only use case I can think of is persisting a password and offering the user the ability to use the saved password (the default) vs. entering a new one.

[2015-03-27 20:13] SBoudrias commented on #228
But your user wouldn't know what the default actually is as it'll be hidden. It could be anything.

[2015-03-27 20:16] adamzr commented on #228
He'll know that there is something saved and he can use that. Or we can put in text that says (Press enter to use the saved/default password) or something to that effect instead of the default text. The use case I was thinking of was using `store : true` in a yeoman generator.

[2015-03-27 20:21] SBoudrias commented on #228
Setting storing to true will save the user password in clear in a public file. You shouldn't do this.

[2015-03-30 21:15] Skywalker13 opened #229 "Input: an hidden cursor is moved with the arrow keys (left and right) but the visible cursor is always at the end"
Hello

It works fine with 0.8.0. Broken with 0.8.2.

Problem reproduced on many different Linux terminals and Windows with msysgit bash.

[2015-03-31 11:09] marcelogft commented on #206
+1

[2015-04-06 11:01] dakal-oleksandr opened #231 "[feature] Answers switch callback"
It will be nice to give user ability to specify callback that will be invoked when user switch between answers (highlight another answer). Fist parameter of callback can be highlighted answer options.

Practical advantage - will be possible show different content (bottom bar for example) based on highlighted answer.

[2015-04-06 18:16] SBoudrias commented on #231
That's already possible through the Reactive interface:

[code]

[2015-04-06 18:16] #231 closed

[2015-04-06 19:19] dakal-oleksandr commented on #231
Well I tested and I see that `process.subscribe` works when user submit answer but not traversing between answers in scope of 1 question.

[2015-04-06 20:12] SBoudrias commented on #231
You mean a callback each time a user move through a list without submitting?

[2015-04-06 20:21] dakal-oleksandr commented on #231
Yes.. It can give ability to create dynamic content under list (for example hint or item long description), but it cause problems with identifying correct cursor position.

[2015-04-07 10:25] #223 closed

[2015-04-08 21:32] xtianus79 opened #232 "Question: when using the name object is it case sensitive? & what is the advantage of the CopyTpl method?"
If I set the applicationName as the hash for a prompt I have...
is the input case sensitive?  for me it works but I was wondering what the official answer was.

    {
      "name": "ASPNET-F5-<%= applicationname %>",
      "description": "The most amazing Foundation template for Visual Studio Vnext",
      "version": "0.0.10",

Moreover, altering template data like this seems pretty straight forwa

[2015-04-08 21:46] SBoudrias commented on #232
It is case sensitive.

About `copyTpl` it's all about the clarity of intent and the traceability of the data source. Using `this.template` just create a huge mess where it's hard to find data sources and intent.

[2015-04-08 21:46] #232 closed

[2015-04-08 21:53] xtianus79 commented on #232
so does that mean the ['title:' 'message here'] title = 'name' in hash?

[2015-04-08 21:55] SBoudrias commented on #232
In an Object literal.

[2015-04-08 21:57] xtianus79 commented on #232
ok and last question on this topic...

Can you have multiple options set like this.

    this.fs.copyTpl(
          this.templatePath('index.html'),
          this.destinationPath('public/index.html'),
          { title: 'Templating with Yeoman' },
          { h1: 'Your message here'},
          {h2: 'Some message here'}
        );

[2015-04-08 22:01] SBoudrias commented on #232
Just one objects with multiples keys. That's explained in the documentation.

[2015-04-08 22:10] xtianus79 commented on #232
sorry... like so...

   this.fs.copyTpl(
      this.templatePath('index.html'),
      this.destinationPath('public/index.html'),
      [
       { title: 'Templating with Yeoman' },
       { h1: 'Your message here'},
       { h2: 'Some message here'}
      ]
    );

Can you do the same for the templatepath and destinationpath options?

[2015-04-08 22:11] SBoudrias commented on #232
Please read the documentation and learn a bit of JavaScript, I can't continue answering all those questions.

See StackOverflow if you want to ask further questions.

[2015-04-08 22:13] xtianus79 commented on #232
the problem with frameworks and libraries is that they all do different things no?  so while I assume you can do as much sometimes you can't... for whatever reason.  However, with that said this would be a feature improvement no?  So why not just give the answer.

[2015-04-08 22:16] xtianus79 commented on #232
for example I am looking into refracting this code... but want to plan it out properly so it can all be updated to the latest yeoman generator version.

    switch (this.type) {

            case 'empty':

                this.sourceRoot(path.join(__dirname, '../templates/projects/' + this.type));

                this.template(this.sourceRoot() + '/startup.cs', this.applicationName + '/Startup.cs

[2015-04-10 06:23] dakal-oleksandr opened #233 "[feature] Construct custom prompts types"
Hi.
I added little feature here:
https://github.com/dakal-oleksandr/Inquirer.js/commit/d265d20894ca910cfb8f4e78c72f544b4a94b195

`bottomText` will give ability to render additional information under list that can depend on selected choice (for example it's useful to render long hint to selected list item). Bottom text is added in `Prompt.prototype.render` so `utils.writeMessage` will include addit

[2015-04-11 05:53] jonschlinkert commented on #214
I've had the same issue on both windows and mac, in the built-in terminal on mac and iTerm.

[2015-04-14 03:42] jfraboni opened #234 "Deleting characters causes cursor to move up a line"
At least on Cloud9, when inputting at your prompt, if a user deletes characters using the delete key, the cursor jumps up a line per deletion, causing a very confusing user experience.  Thanks!

[2015-04-18 01:16] knownasilya commented on #109
Might be unrelated, but I ran into this when I instantiated two instances of `readline`.

[2015-04-18 06:29] SBoudrias commented on #109
@knownasilya Yes, that will effectively happen currently if two inquirer or readlines run at the same time.

[2015-04-20 07:47] Fatme opened #235 "Buggy on windows 8.x with node 0.10.x"
Hi,

I'm using windows 8.1, node 0.10.36
[code]

This renders as expected but you can't interact with it.
The problem is reproduced on Windows 8.x with node 0.10.x using `cmd` or `git bash`. I've tested it with node 0.12 and it works.

[2015-04-20 17:49] kevva opened #236 "Replace already colored choices"
For some reason Inquirer doesn't seem to replace the color when highlighting choices in a list that already has a set color. See the highlighted choice in this screenshot. `screenfull.js` should have a cyan highlight color but it's still blue.

![](https://cloud.githubusercontent.com/assets/170270/7230139/424a089e-e795-11e4-8179-3cdb765b51ee.png)

[2015-04-20 17:59] SBoudrias commented on #236
Yeah, this was on purpose. Might be worth revisiting.

[2015-04-20 18:57] sindresorhus commented on #236
I think makes sense to override the color, but not the style. Eg. override the `blue`, but not the `bold`.

[2015-04-21 08:18] Fatme commented on #235
I forgot to mention that the script works on `conEmu` - `http://sourceforge.net/projects/conemu/`

[2015-04-22 10:26] ArvoGuo opened #237 "demo error"
[code]

[code]

[2015-04-22 17:59] SBoudrias commented on #237
`inquirer.prompt` take an array of question objects. Please read the documentation.

[2015-04-22 17:59] #237 closed

[2015-04-22 20:48] rosen-vladimirov commented on #235
@SBoudrias
Do you have any idea what might cause this issue? It's really important for us to get it working, so we are ready to help you with whatever information you need and testing of possible solutions or even workarounds.
Thanks in advance for your help!

[2015-04-22 20:53] SBoudrias commented on #235
You can provide a minimal reproduction case. That'll help.

Then, I don't own a windows machine, so it's hard for me to reproduce and debug. But I know for a fact this was working fine and I haven't pushed new version out for a while... So I'm not sure why it stopped working.

Maybe try on older node 0.10.x?

[2015-04-22 21:34] rosen-vladimirov commented on #235
@SBoudrias
The issue is reproducible with the code above. In fact we've simplified it to this code, in our scenario we are executing some http requests and after they finish (we use Fibers to make sure operation is completed) we use Inquirer to prompt the user for a choice. The problem is that we see the choices, but arrow keys are not working - the prompter doesn't move the selection. However we

[2015-04-23 05:33] Fatme commented on #235
I've just tested with latest changes from master branch and the result is the same - the arrow keys are not working.

[2015-04-23 07:52] teobugslayer commented on #235
Hello @SBoudrias,

You can download a testing VirtualBox appliance with Windows 8.1 from [here](https://www.modern.ie/en-us/virtualization-tools#downloads). It is good for 90 days and you can use it to debug the issue.

[2015-04-23 15:53] rosen-vladimirov commented on #235
Hi @SBoudrias ,
We've investigated the issue, and we've simplified the case:
[code]
We've tried executing the script in cmd and using the arrows to see if data event is emitted from node, but when I pressed up arrow, the console showed my the previous command I've executed. It looks like node does not emit the event and the up arrow is caught by cmd itself. The issue is reproducible with both read

[2015-04-23 18:01] SBoudrias commented on #235
No idea at all, readline is Node core module. It seems to me the readline is not attached or maybe the cmd is not in tty mode... I don't know for sure.

I think you should open an issue on the Node.js repository.

[2015-04-27 12:10] Fatme commented on #235
The problem is reproducible without importing `inquirer` - only if we use `readline` module so I'm closing this issue.

[2015-04-27 12:10] #235 closed

[2015-04-27 15:33] jviotti commented on #214
Are there plans to fix this?

[2015-04-27 15:44] callumacrae commented on #214
Heh, pasting tokens is the case I had, too

[2015-04-27 16:12] jviotti commented on #214
I have a fix working locally. I'll submit a PR soon.

[2015-04-27 16:16] callumacrae commented on #214
:+1: :confetti_ball:

[2015-04-27 16:24] jonschlinkert commented on #214
that would be great @jviotti. this happens every time I use yeoman

[2015-04-27 16:56] dakal-oleksandr commented on #233
So I had a lot of experiments with Inquirer and the best solution is to add functionality to create custom prompts types based on already available prompts.

I created pull request with proposed changes

[2015-04-27 17:51] jviotti commented on #214
PR sent: https://github.com/SBoudrias/Inquirer.js/pull/239. I only tested on OS X, so if you run a different OS, your testing would be appreciated :)

[2015-04-29 17:46] sindresorhus commented on #227
:+1:

[2015-04-29 17:47] sindresorhus commented on #206
I think this is a better solution than an option.

[2015-04-30 01:08] yangchenyun commented on #225
+1

[2015-05-04 03:39] #185 closed

[2015-05-04 21:56] yangchenyun commented on #225
Hi SBoudrias@, I notice that you are also author of this awesome repo!

How much work do you evaluate to implement this feature? If this is within reasonable time, I could implement it and send you PR for review.

[2015-05-04 22:16] SBoudrias commented on #225
I think it'd be fairly simple. A couple hours at most, but it might be more since you might need to get used to the core principles - and the core of Inquirer date from ~2 years ago, so it's not the cleanest code I've written out there.

[2015-05-05 04:00] yangchenyun commented on #225
Wow, I didn't know this almost 2 years old! So far this is most friendly module to work with terminal app.

Could you point me to some main abstractions you have defined in the core to help me start:
- Abstraction to work the terminal
- Abstraction to work with user input

[2015-05-05 07:08] SBoudrias commented on #225
Oh, I think the public API is fairly simple and pretty feature complete. I was more thinking of the behind the scenes abstractions who're bloated around classes. Redoing the core code today, most of this would be in functional style as a lot of class base abstraction currently in use are not needed. But you should be able to wrap your head around it.

I think the list prompt implementation is the

[2015-05-05 21:38] emilyrose commented on #234
I'm experiencing the same thing. If anyone knows where to start looking for a fix, I'm happy to try & contribute a patch.

[2015-05-05 22:04] emilyrose commented on #234
I've noticed that this won't happen with the first prompt, but happens reliably with subsequent prompts.

[2015-05-05 22:16] SBoudrias commented on #234
@emilyrose do you have the same issue on Cloud9 or another editor?

This feels like an issue specific to Cloud9 terminal. I believe you might want to report the issue over there rather than here.

[2015-05-06 02:41] emilyrose commented on #234
@SBoudrias nope! I'm using inquirer directly with a node CLI application I'm maintaining.

[2015-05-06 02:47] emilyrose commented on #234
I will try to find steps to reproduce and if I'm able to I will post them along with a separate issue.

[2015-05-07 11:57] rosen-vladimirov opened #240 "Confirm prints message several times"
Hi,

I'm trying to use inquirer's confirm and when the message is shown on several lines, and I try to input  my answer (`y` in my case), the message is shown on the next line. For **any keystroke** the message is printed on new line. I've tried this in cmd and git bash on Windows (it is important to see the message on more than one line) and in my Ubuntu's terminal - the issue is reproducible wit

[2015-05-07 14:58] SBoudrias commented on #240
Yup, known issue: https://github.com/SBoudrias/Inquirer.js/issues/6

You can manually line wrap your questions to prevent this.

[2015-05-07 14:58] #240 closed

[2015-05-07 14:59] SBoudrias commented on #240
Also https://github.com/SBoudrias/Inquirer.js/issues/214

[2015-05-11 21:23] plemarquand opened #242 "Truthy value for 'checked' shows selection, but item is missing from answers"
Suppling a truthy value to 'checked' results in the list item being selected visually, but it is missing from the selected elements list.

The following test case fails as the second item is omitted from the answers:

[code]

[2015-05-11 23:59] #242 closed

[2015-05-12 00:56] plemarquand commented on #242
Thanks for the quick turnaround!

[2015-05-13 16:22] shellscape opened #244 "Trailing Parenthesis on "input" Type"
If I create a prompt with type "input" and the "message" property of that prompt ends with a closing paren ")" then inquirer never places the colon at the end of the message when it's rendered to the console.

Example below reproduces the bug.

[code]

[2015-05-13 16:33] shellscape opened #245 "Request: Line Prefix Option"
I'd like to request the ability to pass an option to either the UI or the Prompt to prepend a line prefix. In my particular use-case, I'd want to prepend two spaces. If there's a way to easily hack this, I'm all for that as well.

[2015-05-13 18:04] SBoudrias commented on #244
You can add it manually.

I plan on removing auto prefix/suffix soon enough.

[2015-05-13 18:04] #244 closed

[2015-05-20 08:33] Skywalker13 commented on #245
Hello,

An example in order to remove `? `.

[code]

[2015-05-21 09:42] FremyCompany commented on #214
FYI, I have a one-line fix (tested on Windows). Feel free to try it and comment on whether it works for you or not.

[2015-05-21 09:45] callumacrae commented on #214
Seems to be fixing the symptom of the problem and not the problem itself, though.

[2015-05-21 09:55] FremyCompany commented on #214
Well if (like I assume) there's no reason to redraw the line on each keypress, then fixing the while-writing line-redrawing issue is a waste of time and adds more code to maintain than it should. In this case, it's easier to remove the behavior altogether. Also: it may work better when you resize your console than the previous fix (as the question & input text may or may not rewrap, making things

[2015-05-21 10:03] FremyCompany commented on #214
Oh, by the way, this fixes another bug on Windows(cmder): the input cursor is now properly located at the insertion point, and not at the end of the input (#229).

It was really annoying to edit your text because you had to remember in your head where the insertion point was, and how many times you had to press LEFT or RIGHT to move to the right location. When you don't rewrite the text while Wind

[2015-05-21 15:10] SBoudrias commented on #214
What happens when you submit the input and the validation fail?

[2015-05-21 15:24] #229 closed

[2015-05-21 15:30] #205 closed

[2015-05-21 15:31] SBoudrias commented on #199
Use `list` type to navigate with arrows.

[2015-05-21 15:31] #199 closed

[2015-05-21 15:32] #189 closed

[2015-05-21 15:33] SBoudrias commented on #191
duplicate #214

[2015-05-21 15:33] #191 closed

[2015-05-21 15:38] #156 closed

[2015-05-22 21:23] adam-lynch opened #247 "When choices is an array of objects, result's value should be an object"
The readme says that an answers object's value (for a `list`) is:

This is a little confusing. Sure, the chosen string value is given but to me the chosen value is the object from the choices array whose `name` property matched the string I chose in the prompt. It would be better if it returned the object instead of just the `name` property (when an object was passed obviously). Someone could use

[2015-05-22 21:30] SBoudrias commented on #247
Why don't you generate the outcome after from the result? I have a hard time to see what's your issue.

[2015-05-22 21:31] adam-lynch commented on #247
The outcome is used in the `name` of each choice;

[code]

[2015-05-22 21:36] adam-lynch commented on #247
The only reason why I can see that you might pass an array of objects instead of an array of strings is so you can acess the chosen object.

[2015-05-25 18:22] Freyert commented on #190
I attempted to pass in an Rx.Observables instance in a yeoman generator prompt and was slapped with this message:

`Error: You must provide a 'message' parameter`

This is how I use it.
[code]
I must be missing something.

[2015-05-25 18:42] Freyert commented on #209
I can't get any of these to work :(

[2015-05-26 02:41] SBoudrias commented on #190
Maybe your yeoman-generator inquirer version is not up to date. Run `npm update`

[2015-05-29 16:03] gobwas opened #248 "JSON Schema Inquirer"
Hi there!

Thank you very much for your library :beers:!
At some project I wanted to use some universal validation rules for prompt, and not found any better way than to use JSON Schema. So, [I wrote simple library](https://github.com/gobwas/schinquirer) based on yours, and, also, on `is-my-json-valid` json-schema validator.

If you want, you can link it in your readme or smth, to get your users k

[2015-05-29 17:17] korvus opened #249 "Curious behavior on Windows commande line"
I don't think it's specific to inquirer,
But I'm on windows 7, with node v0.10.21 ;
When I use a too long line in choices or input or whatever, then, when I trigger direction arrows, that duplicate the label; That really strange behavior ;
As this behavior happen only when the sentence get the edge of the consol, the "fix" I found is just to enlarge the command view (right click > properties > con

[2015-05-29 21:39] step1step2 opened #250 "[Feature Request] filterlist"
I'm using an over sized [list] (https://github.com/SBoudrias/Inquirer.js#list----type-list-). I tried to use separate entries doing something like:
[code]
However I'm not happy with it. A way better way would be to use a list that I can filter though. For example when I hit 'abe' to display only entries that contain 'abe'.
Here is an example: http://jsfiddle.net/api/post/library/pure/

Then progre

[2015-05-29 21:59] SBoudrias commented on #250
Hey, I'm not sure I understand the feature you're describing.

[2015-05-29 22:15] step1step2 commented on #250
Like
![filterlist](http://i.imgur.com/50g7VU9.png)

[2015-05-30 13:47] step1step2 commented on #250
Oh the jsfillde link was broken. Here is a working one: http://jsfiddle.net/yL2gLz2e/

[2015-06-07 11:01] pauldijou commented on #247
@adam-lynch Actually, array of objects should contain objects with 2 keys: `name` and `value` where `name` is the message to display and `value` the object that will be selected.

Just add this `value`, something like:

[code]

[2015-06-07 11:10] pauldijou commented on #214
I just wanted to highlight the fact that there is also a problem is the message of the question wraps. It gets really ugly with `list` and `checkbox` types because the message will be printed again and again and again each time the user navigate the answers using arrow keys. I do hope the PR also fix that...

![screenshot from 2015-06-07 13 06 39](https://cloud.githubusercontent.com/assets/1275293

[2015-06-07 11:23] adam-lynch commented on #247
@pauldijou Thanks! That's better.

Note for anyone reading this issue looking to do something similar: it should be `result.bump`.

I'm going to close this because I'm happy with that. Not sure this is obvious in the readme but I'll leave that up to the maintainers.

[2015-06-07 11:23] #247 closed

[2015-06-08 12:53] richlewis42 opened #251 "Checkbox/List toggle options"
I have a very long list of options that I use in a check box - they are grouped into categories, and ideally I would like to have only the categories as options, with the option to expand them (e.g. using the right arrow key) to access the embedded options.  Would this be possible to implement, e.g. by supplying choices as an object with keys as categories and associated values as an array of the

[2015-06-08 18:21] SBoudrias commented on #251
Just use two prompts. Depending on the result of the first prompt, then display the second one.

[2015-06-08 18:21] #251 closed

[2015-06-08 20:59] richlewis42 commented on #251
Thanks for the rapid reply.  I already tried many separate prompts, but there are about 30 different subsections (with ~10 options each), and the typical user would be potentially interested in over 10 of the subsections - it just felt very clunky to have 10 follow up checkbox prompts coming one after another, and an accordion style interface would have felt intuitive when it was implemented that

[2015-06-16 20:50] juancoen commented on #250
+1

[2015-06-24 11:48] gmarziou opened #253 "[Feature Request] help link for questions"
Using inquirer through yeoman generators, I often find that some questions are not easy to answer and require more description to guide the user.
So , I thought that having the possibility to add a clickable link to a question pointing to online help would be useful.

[2015-06-25 06:55] #198 closed

[2015-06-27 00:16] knownasilya commented on #217
Looking for something similar for inputing environment variables, so keys and values. Maybe have a recursive input that allows to input one entry, then asks to if the user wants to input more, if so shows it again. This is probably possible with the existing types, but I'd need to experiment to see if it works. Also I'd take an example from @SBoudrias :wink:

[2015-06-27 00:25] SBoudrias commented on #217
So I'll close this issue as the UX suggested is not possible. And there exist - or will exist - other solutions:

1. Ask for an input with comma separated value or whatever similar
2. Just do a recursive prompt asking the user if he wants to add new value each time
3. [eventually] handle this with a [multiline prompt](https://github.com/SBoudrias/Inquirer.js/issues/99)

[2015-06-27 00:25] #217 closed

[2015-06-27 01:24] knownasilya commented on #217
@SBoudrias can you give a simple example of a recursive prompt?

[2015-06-27 02:42] SBoudrias commented on #217
https://github.com/SBoudrias/Inquirer.js/blob/master/examples/recursive.js

[2015-06-27 14:48] knownasilya commented on #217
@SBoudrias thanks!

[2015-06-29 14:34] adriancooney commented on #214
Also getting the same problem if a value in a `list` wraps.

[2015-06-30 16:17] wraithan opened #256 "1.0 release"
I'm about to build with this module and notice it has 100k downloads a day but is not 1.0. This seems suspect. With that many users you have a stable, relied upon API and should probably 1.0 then move forward from there using semver to manage changes. If you disagree then closing this issue is valid, otherwise I'd love to see a 1.0 cut so I can semver match against that and be able to trust new up

[2015-06-30 18:13] SBoudrias commented on #256
There's still a lot to figure out to the internal API and extensibility that should be fixed before I consider 1.0

FWIW I'm actively working towards that goal.

[2015-06-30 18:13] #256 closed

[2015-06-30 22:27] wraithan commented on #256
You literally have over 100k downloads a day. If you are going to change anything in the API it will be backwards incompatible for all 100k/day users. They are already locked into your API, calling it 0.x is just making them not be able to pick up backwards compatible updates automatically... Seems like you should just cut a 1.x then, if you find yourself needing an API change, cut a 2.x.

[2015-07-02 06:51] kokujin opened #257 "Is it possible to adjust menu list height?"
I am using a prompt type "list" with several items, it starts to "scroll-wrap" after 6 items and below is a notice, "Move up and down to reveal more choices".

Is there a way to stop the wrapping or adjust the number of items displayed? I would like to display all choices at the same time, for example.

Thanks

[2015-07-02 17:56] SBoudrias commented on #257
There's no option for this currently, and no plan to add it.

We might in the future be smarter and use the terminal height to determine the number of choice we display.

[2015-07-02 17:56] #257 closed

[2015-07-03 09:06] jonschlinkert commented on #249
also related https://github.com/SBoudrias/Inquirer.js/issues/214

[2015-07-04 04:24] SBoudrias commented on #249
Fixed on master. Please test and let me know how it goes.

[2015-07-04 04:24] #249 closed

[2015-07-04 04:24] SBoudrias commented on #214
Fixed on master. Please test and let me know how it goes.

[2015-07-04 04:24] #214 closed

[2015-07-04 04:25] SBoudrias commented on #234
Pushed some fixes for rendering edge cases on master. Please test and let me know how it goes.

Without more details on your issue, I won't be able to help further on this issue. Closing for now.

[2015-07-04 04:25] #234 closed

[2015-07-04 04:29] SBoudrias commented on #228
I'll close as I think it makes sense to always display the default. Probably just shouldn't be defaults for password.

Anyway, I don't personally intend on fixing it. Feel free to send a PR if you feel strongly about it.

[2015-07-04 04:29] #228 closed

[2015-07-04 04:31] SBoudrias commented on #176
Fixed on master. Please test and let me know how it goes.

[2015-07-04 04:31] #176 closed

[2015-07-04 04:33] SBoudrias commented on #173
I've been fixing lots of similar issues with natural line returns on master. Please test and let me know how it goes.

[2015-07-04 04:33] #173 closed

[2015-07-04 04:35] SBoudrias commented on #167
Fixed on master. Please test and let me know how it goes.

[2015-07-04 04:35] #167 closed

[2015-07-04 04:39] SBoudrias commented on #75
It's been open forever and I really don't have plans to do this anymore. Anyone's free to take it, but I'll close it as won't fix.

[2015-07-04 04:39] #75 closed

[2015-07-04 04:39] SBoudrias commented on #6
Fixed on master. Please test and let me know how it goes.

[2015-07-04 04:39] #6 closed

[2015-07-04 10:57] korvus commented on #249
Will do it asap ;
Thx for your work.

[2015-07-04 14:38] petersandor opened #258 "Impossible to get fs paths from input prompt"
Hi, I wonder if there is any way to retrieve filesystem paths from users, I tried using `input` prompts, but with no luck.

After many attempts I realized that it won't go through if the string contains slashes. This is what I get:

`>> Please enter a valid value`

I've tried to use `validate` function as a means to override internal validation, but that didn't help.

Does anybody have experience

[2015-07-05 00:48] SBoudrias commented on #258
I can pass slashes to raw input field without any issue. My guess is you're using a validation function that doesn't allow them.

Inquirer does nothing at this level.

[2015-07-05 00:48] #258 closed

[2015-07-05 05:05] jonschlinkert commented on #249
Great! thanks. I'll also report back after I have a chance to review. Thank you so much for the hard work!

[2015-07-05 07:33] petersandor commented on #258
You're right, I didn't `return true` properly in my validation function. Lesson learned, Thanks!

[2015-07-06 11:54] jviotti commented on #214
@SBoudrias The repeating issue is fixed however:

- When pasting a long line, the text prompt eats a bunch of lines from above.
- When printing short new lines afterwards (console.log), there are parts of the token not being cleaned up at the right.

<img width="1280" alt="screenshot 2015-07-06 07 54 35" src="https://cloud.githubusercontent.com/assets/2192773/8521687/48dfcd1e-23b4-11e5-96b3-e740c9

[2015-07-06 15:55] SBoudrias commented on #214
@jviotti please open new issues for new issues :)

[2015-07-07 18:54] sindresorhus opened #259 "Switch to `rx-lite`"
The `rx` package is super wasteful and takes up 4.2 MB (?!?). The `rx-lite` package is a lot smaller weighing in at 400 KB.

https://www.npmjs.com/package/rx-lite

-

This is important for getting down the size of `yo`.

[2015-07-09 12:46] paoloantinori commented on #250
Hi, I am working on a customization to get the same result:

https://asciinema.org/a/2abz5r1f4sfsahhbl6161nc3f

I'm currently hitting a specific problem: `q` key closes the app.

I have not been able to understand how to disable this behavior. Any hint?

[2015-07-09 18:00] SBoudrias commented on #250
@paoloantinori Inquirer doesn't close when someone press `q`. That's something in your own code.

[2015-07-09 19:56] paoloantinori commented on #250
@SBoudrias thank you for pointing that out. I was looking in the wrong place!

[2015-07-12 11:05] ruizb commented on #109
Got the same problem here with this piece of code:

[code]

It seems like the more there are instances of BottomBar, the more there are duplicates.

Tested on `OS X Yosemite v10.10.4`, `node v0.10.33` and `iTerm2 v2.1.1`.

![Screenshot](https://dl.dropboxusercontent.com/u/14445263/screenshot_inquirer_issue109.png)

[2015-07-14 05:11] #259 closed

[2015-07-14 05:13] SBoudrias commented on #248
Hey, thanks for letting me know. I'm always interested to see what other people build on top of inquirer - or projects just inspired by it.

[2015-07-14 05:13] #248 closed

[2015-07-23 19:13] rodrigosendin opened #260 "Is there a way to configure the page size of a list?"
Hello,

I am using the list prompt option, and I notice that the page size (of the visible items) is limited on 7 items. Is there a way to configure a higher page size?

Thanks!

[2015-07-23 20:10] SBoudrias commented on #260
There is not.

We might parametrize the size to be the terminal window size eventually, but that's not in the next near future.

[2015-07-23 20:10] #260 closed

[2015-07-26 20:03] sindresorhus opened #261 "Long titled choice with the list prompt makes it jump up on every scroll"
## Problem

If you use a long title in one of the choices in the `list` prompt it makes the list jump one lin up for every scroll and creates a lot of artifacts and ghost lines.

<img width="1430" alt="screen shot 2015-07-26 at 22 01 32" src="https://cloud.githubusercontent.com/assets/170270/8895657/e8ea55e4-33e1-11e5-8e4c-0ce251246f99.png">

## Testcase

[code]

-

Can also be reproduced with `yo

[2015-07-27 06:49] SBoudrias commented on #261
It's working fine for me with the latest inquirer 0.9 release. I believe yo is still on 0.8. - So this rendering bug shouldn't be an issue with latest version.

That being said, maybe some improvements could be done for long choices as if it spawn on a multiple lines it shows up pretty abruptly. My concern here is that if we start cutting the choice text to fit the screen scroll state, then we mig

[2015-07-27 06:54] SBoudrias commented on #261
Ah, actually this bug only show up on terminal (I was testing with iterm). Will investigate.

[2015-07-27 10:38] sindresorhus commented on #261
Oh yeah, I should have been more specific. Terminal.app, Node 0.12.7, Inquirer 0.9.0.

I might be misunderstanding this, but I don't want Inquirer to truncate the question.

[2015-07-28 10:15] mkorakakis opened #262 "Weird behavior on Windows 8.1"
Hello,

If somehow the input takes more that one line, for each newline that I use the message seems to reappear along with it. Same thing if i try to paste a long line. Gets even more buggy if i try to delete the text. Similar to [#214](https://github.com/SBoudrias/Inquirer.js/issues/214) and [#249](https://github.com/SBoudrias/Inquirer.js/issues/249).

Example:
![example](http://s22.postimg.org/

[2015-07-28 14:08] lazabogdan opened #263 "async usage issue"
Hey guys,

I have this simple use case where I'd like to use inquirer to recursively prompt the user for bower package names and validate the packages via the bower API using this.async. However, it's not working.

Could anyone please point me into the right direction? What am I doing wrong. I would appreciate any thought.

Here's the full code that I think it should work but doesn't:

[code]

Tha

[2015-07-28 17:51] lazabogdan commented on #263
Still trying to make some sense of the weird behaviour I'm getting from this.

Tried the same thing using process.subscribe and the code is more similar now to the examples/recursive.

[code]

So, when I run this:
1. the prompt always shows up, asking for package names .. all good!
2. I type a package name (valid or invalid) .. all good!
3. Here's the weird part .. sometimes the validation works,

[2015-07-28 18:21] lazabogdan commented on #263
Ok, it's starting to look like a serious bug. I striped out bower from the equation and simply used a timeout like in the official examples.

I've got the same behaviour. Sometimes it displays the error message from validate, sometimes it doesn't until I press some keys.

[code]

I think it might have something to do either with my terminal (tried both iTerm2 and default terminal) or my OS (Mac OS

[2015-07-28 18:34] SBoudrias commented on #262
Which version are you using?

[2015-07-28 18:36] mkorakakis commented on #262
The latest 0.9.0

[2015-07-28 18:45] lazabogdan commented on #263
After updating to node v0.12.7 the issue seems to be solved.

[2015-07-29 07:02] SBoudrias commented on #261
Investigated this tonight, I have a feeling the issue is when we reset the cursor to the left position, we send it too far and it silently goes up a line in Windows and Terminal, but not in iterm.

[2015-07-30 19:44] juancoen opened #264 "Prompt.prototype.prefix is not used in getQuestion"
In this line (https://github.com/SBoudrias/Inquirer.js/blob/v0.9.0/lib/prompts/base.js#L169), the call to prefix was changed with:

[code]

In version 0.8.5, the prefix function was being used. Is there a reason for not using it anymore?

Thanks!

[2015-07-30 19:54] SBoudrias commented on #264
Yeah, I'm removing all the crust around the huge classes so it can easily be exported to a standalone module.

Not sure what I want to do about prefixes/suffixes yet.

[2015-07-30 19:56] juancoen commented on #264
it would be nice to make prefix and suffix configurable, can that be done in other way?

[2015-08-03 04:25] LPGhatguy opened #266 "Using 'list' as the first input to a prompt fails"
Using Inquirer.js 0.9.0 and io.js 2.5.0 or Node 0.12.7 on Windows 10:

[code]

The arrow keys won't move the menu, allowing selection of only the first choice.

[2015-08-03 04:30] SBoudrias commented on #266
Which version of inquirer?

[2015-08-03 06:09] LPGhatguy commented on #266
Woops, sorry, 0.9.0 from `npm`

[2015-08-04 13:24] timkelty commented on #260
Looking for this option as well.

[2015-08-05 06:49] LPGhatguy opened #267 "Support fancy characters on Windows 10"
Windows 10's command prompt now has a nice monospace font with Unicode support by default in the console. Right now, controls like the checkbox look kind of awful on Windows, unlike *nix: http://i.imgur.com/TNvSgRz.png

Would it be possible to support Windows 10 as a first-class character system in Inquirer?

[2015-08-05 06:54] LPGhatguy opened #268 "Promises/A+ Interface"
With Promise being implemented in io.js, and being merged into mainstream Node as of ~4.0, it might be a good idea to provide a native Promise implementation.

In my code right now, I wrap Inquirer:

[code]

[2015-08-05 18:02] SBoudrias commented on #267
The symbols inquirer is using are provided by: https://github.com/sindresorhus/figures

You should open an issue over there! (please link to this issue so we have a trace)

[2015-08-05 18:02] #267 closed

[2015-08-05 18:04] SBoudrias commented on #268
Once it'll be available in native node, then we'll make it happen.

But this is not yet the case.

[2015-08-09 05:13] LPGhatguy commented on #266
Have you been able to reproduce the issue or look into it? I've confirmed that it still occurs on io.js `3.0.0`, and I'll be checking it out on Mac OS X this Monday when I stop into work since we're using Inqurier for our new generator system.

What's curious to me is that `yo` from the `yeoman` project, which uses Inquirer 0.9.0, doesn't seem to have the same issue despite having the first prompt

[2015-08-09 07:48] LPGhatguy commented on #267
@SBoudrias: I opened an issue on the repository and submitted a fix for `io.js` to make this all work out.

I have doubts that this will land in figures all that soon, would you be open to using a fork of inquirer until functionality like that would be merged? I'm not familiar with npm etiquette on that subject.

[2015-08-09 22:53] SBoudrias commented on #266
@LPGhatguy does it work with inquirer 0.8.0?

[2015-08-09 23:47] LPGhatguy commented on #266
It does not.

[2015-08-10 16:34] LPGhatguy commented on #266
This bug does not occur on OS X as far as I can tell, so it's probably something Windows specific.

[2015-08-11 13:44] step1step2 commented on #250
@paoloantinori nice is that published already? :+1:

[2015-08-12 08:20] sixertoy commented on #261
Hey :)
Should i confirm this issue also happens with a too long message value ?
On windows

[2015-08-12 15:46] jviotti opened #269 "Can't run inquirer in a spawned process"
Take the following simple inquirer script:

[code]

And another script that tries to run the above script with `child_process.spawn`:

[code]

The following error is printed to `stderr`:

[code]

Error location: https://github.com/SBoudrias/readline2/blob/master/index.js#L51.

[2015-08-12 18:05] SBoudrias commented on #269
Your subprocess is not a TTY, so it cannot run inquirer.

It'll work if you inherit the stdio. https://nodejs.org/api/child_process.html#child_process_options_stdio

[2015-08-12 18:05] #269 closed

[2015-08-13 15:37] JCMais commented on #266
Same issue, it works on node 0.10.40

[2015-08-18 12:57] jo opened #270 "Password default should be masked"
When using a default for the password it should be masked.

Eg:
[code]

My use case is that I want to store the password with [keytar](https://github.com/atom/node-keytar) and want to allow the user to change it.

[2015-08-18 18:24] SBoudrias commented on #270
I believe you can implement to logic to mask the previous password in your own code. The `default` value is used as is and is provided directly by the user. It is then totally possible for you to mask it without Inquirer doing anything.

As so, I'll close this issue as I prefer this logic to be kept on the user side.

[code]

[2015-08-18 18:24] #270 closed

[2015-08-18 18:43] jo commented on #270
That way the answer would include the masked password.

[2015-08-18 18:58] dantman commented on #149
This is a severe problem for some users of inquirer like [npm-check](https://github.com/dylang/npm-check). When multiple separators are used this bug can stack resulting in the cursor completely leaving the visible area.

![aug 18 2015 11 56](https://cloud.githubusercontent.com/assets/53399/9339680/485b7b46-45a0-11e5-8d81-905cbdb58309.gif)

[2015-08-18 19:13] dantman commented on #149
This bug is probably related to this line:

The lines of choicesStr includes the separators. But the active integer `this.selected` does not account for separators.

[2015-08-22 12:21] JohnPittman opened #272 "Git Bash Error - Cannot read property 'substring'"
Seems to run on Windows cmd but not Git Bash which sucks because Git Bash is the only sane thing to use on Windows. I had to download ConEmu and use Git Bash from there but now I get a prompt when closing console windows that can't be disabled even though the check-box is unchecked to not confirm. Also somethin'. Nice module.

C:\Users\Admin\Development\Working\package-generator.js\node_modules\in

[2015-08-22 21:57] SBoudrias commented on #272
FWIW, Powershell2 is a good console for Windows environment. If you want more control on the look, wrap it inside Console2. - That was my setup a couple years ago when I was working on ASP projects.

For the bug itself, someone or me is going to take a look eventually. But I don't have a windows machine handy currently, and it's not exactly at the top of my OSS todo list. - If you feel like debugg

[2015-08-25 18:07] Downchuck opened #275 "Use lodash modules"
Lodash comes in modular forms, which may be more appropriate for the light use in this library:
https://www.npmjs.com/browse/keyword/lodash-modularized

Currently lodash is 2.1M of the total 2.9M that inquirer.js distributes as when unpacked.

[2015-08-25 18:41] SBoudrias commented on #275
Feel free to send a PR

[2015-08-26 00:42] yaru22 opened #276 "Using `.process.subscribe()` messes up the display."
If I use the following code, questions are displayed properly (see the screenshot below):

[code]
![screen shot 2015-08-25 at 8 39 24 pm](https://cloud.githubusercontent.com/assets/49256/9483071/68d915b2-4b69-11e5-9b18-ccaafd46358f.png)

However, if I use `.process.subscribe()`, it messes up the display a bit.

[code]
![screen shot 2015-08-25 at 8 40 56 pm](https://cloud.githubusercontent.com/asse

[2015-08-31 23:29] dthree opened #277 "Keypress: `{ control: true }` does not register on `[control] + [backspace]`"
On listening for a keypress, `control` reads `false` when I do a `[control] + [backspace]`, however `control` reads `true` on other characters, like `control + s`.

I looked through all of the inquirer code and it doesn't seem to be dealth with - it could be a readline problem, or whatever is actually triggering the events.

[2015-09-01 07:51] SBoudrias commented on #261
Sorry this is taking forever. Tried to figure out the inconsistencies for a while now, and I'm now pretty sure it's because when cleaning a line, Terminal will clean a prompt line with a wrapping answer, while iTerm only clean the current line.

I'm still a bit unsure of how I'll handle the inconsistency (and I also need to confirm the behavior on Windows), but now that I know the cause a fix shou

[2015-09-02 20:15] dubeej opened #278 "Inquirer 0.9.0 displayed list is too small!"
It appears that prompts of type checkbox, and list display only seven items at a time, and the user has to scroll through the list to see more items. Is there a configurable setting to display more items, or is a length of seven hardcoded into the module?

[2015-09-02 20:16] SBoudrias commented on #278
There's a lot of other issue about this subject on the bug tracker. Please research your issue before opening a new one.

[2015-09-02 20:16] #278 closed

[2015-09-02 20:42] dubeej commented on #278
Thanks for all the help!

[2015-09-03 19:38] ruyadorno opened #279 "Allow setting input and output"
Resurrecting the ideas from #188 #197

I just stumbled upon a use case where having the `ttys` module support that @naholyr added would have saved the day (basically reading from stdin and prompting user with info taken from there).

By reading through the history of these PRs it seems to me that `ttys` turned out to be a very unreliable module that unfortunately only worked on some terminals and

[2015-09-03 20:42] SBoudrias commented on #279
Yes, I totally want to allow a user to set input/output stream manually.

It just requires a bit of a refactor.

[2015-09-04 01:37] ruyadorno commented on #279
would it be the same refactor from #197 ? (excluding adding `ttys` again of course)

[2015-09-04 02:07] SBoudrias commented on #279
Similar to it yes, but I'm pretty sure there's place where we're calling `process.stdout` directly. I remove them as I fall on them, but there might be some still around.

[2015-09-04 02:25] ruyadorno commented on #279
got it, I might give it a try and send a PR in the next few days :blush: thanks!

[2015-09-07 06:04] sindresorhus commented on #275
:+1:

[2015-09-07 06:06] sindresorhus commented on #268
Promises are already available in Node.js 0.12, and if you're not willing to drop Node.js 0.10 support, you can use a tiny polyfill like [`pinkie-promise`](https://github.com/floatdrop/pinkie-promise).

[2015-09-07 18:14] doapp-ryanp commented on #261
Can confirm this occurs on iTerm2 v 2.1.1 as well, and on previous 0.8.5 too (and .7).

FWIW we would like to use this in our new [JAWS](https://github.com/jaws-stack/JAWS) project that has quite a bit of visibility.  While no other tool is as good as yours, this issue is a big enough problem where we will are debating writing our own.

Do you have any rough eta? we are targeting release of JAWS 1

[2015-09-07 18:58] #279 closed

[2015-09-07 19:00] SBoudrias commented on #261
Can't reproduce on iterm v2.1.1, are you sure you tested latest version?

@doapp-ryanp FWIW, if you're debating writing your own, just send a PR fixing this bug and we'll merge it. That would be easier than rolling up your own solution.

[2015-09-07 19:12] doapp-ryanp commented on #261
inquirer@0.9.0. Check out this screencast: https://dl.dropboxusercontent.com/u/1374786/inquirer.mov

I was hoping you would be able to fix since it sounds like you already had a fix coming soon, and to be honest node cli i/o is outside of my wheelhouse, so it would take me a long time diagnose and fix.

[2015-09-07 19:21] ac360 commented on #261
Inquirer is an incredible, wonderful tool and we really want to use it.  But, I'm also having similar issues rendering prompts in plain Mac Terminal using v0.9 and previous versions.

![inquirer_bugs](https://cloud.githubusercontent.com/assets/2752551/9722035/ac81aa36-555a-11e5-80a9-6375b52ab0f3.png)

[2015-09-07 19:38] naholyr commented on #279
Well done :)

[2015-09-07 19:54] SBoudrias commented on #261
@ac360 @doapp-ryanp I know the cause, but the issue is a bit tricky to fix as it impact multiple kind of prompts who don't have the same requirements, so it need to be as transparent as possible. It'll take me a little while to fix it correctly.

That being said, Inquirer only struggle with automatic line returns because they're not handle in a consistent manner by all the prompts out there. If yo

[2015-09-07 20:43] mradionov commented on #272
Have the same issue. The problem is that readline does not consider Git Bash a tty, `this.terminal` option of the readline instance is being set to `false` internally, and as I can understand inquirer won't work without tty. Just setting `this.terminal = true;` inside `readline2` does not solve the issue though, because all tty-dependent functionalities will remain broken. Still looking for the so

[2015-09-08 21:13] LPGhatguy commented on #268
@SBoudrias Node v4 landed today which has nearly full ES6 support now. Node 0.12 had promises as well.

Native node has landed.

[2015-09-08 22:44] rtsao commented on #276
I'm getting the same issue

[2015-09-09 17:44] rosen-vladimirov opened #282 "Input prompt takes last answer on Nodejs 4.0.0"
Hi,

I've just tried using inquirer with latest Node - 4.0.0 and I've found an issue with consecutive input prompts. Here's the test case:
[code]

When I enter some value in the first prompt, my answer is used for it and for the second input, so it is automatically resolved. I've tried this on Windows (cmd and Git Bash) and on Linux.
Same issue is reproduced with iojs 3.3.0 (tested on Linux only).

[2015-09-09 18:36] SBoudrias commented on #282
Inquirer is asynchronous. You cannot run two prompt at the same time.

[2015-09-09 20:41] rosen-vladimirov commented on #282
Hi @SBoudrias ,
Thanks for pointing this. However we are using inquirer in synchronous code (by using fibers) and as I've tried to simplify the repro case, I've made mistake in the script that I've sent you. Here is the correct one:
[code]
It is working fine on Node 0.12.x, but not on Node 4.0.0. The second inquirer calls the answers callback and accepts the same answer. After that the console is

[2015-09-09 20:45] rosen-vladimirov commented on #282
Just to add something - the second inquirer **does not accept** the same answer - it receives empty string as an answer.

[2015-09-11 18:16] leerlemoniii commented on #266
This is still an issue with windows 12 node 4.0.0..... in both command prompt and in powershell

[2015-09-11 19:18] LPGhatguy commented on #266
Now that node 4.0 is the mainline release, this issue might affect more users.

[2015-09-11 20:24] SBoudrias commented on #266
@LPGhatguy I don't have easy access to a windows machine. This seems to be a big issue for you, it'd be nice if you investigate and send a fix as a PR.

[2015-09-12 06:37] vsimonian opened #283 "Support validate for lists"
Lists implicitly don't allow an individual value to be invalid, but there exist cases where a selected combination of values is invalid, and thus a `validate` function would be useful. One such case would be validating that at least a certain number of options were selected.

[2015-09-13 03:43] lsycxyj commented on #282
A bug similar to it. It works fine except Node 4.0.0. Arrow keys does not work in windows prompt.

[code]

[2015-09-13 22:31] Awk34 commented on #282
I have the same issue. I was trying to install Semantic UI, which uses [gulp-prompt](https://github.com/Freyskeyd/gulp-prompt) which in turn uses Inquirer.js. My solution was to use Node.js 0.12.7 via [nvm-windows](https://github.com/coreybutler/nvm-windows), install Semantic UI, and then go back to using Node 4.0.0.

[2015-09-14 00:56] SBoudrias commented on #277
Can you explain which part of inquirer you're using?

[2015-09-14 00:59] SBoudrias commented on #276
Ok, I could reproduce this bug. Not sure what on rx.js side is breaking that flow. I'll investigate.

[2015-09-14 01:00] SBoudrias commented on #209
I could reproduce this issue, I'll investigate what on rx.js side is breaking.

[2015-09-14 01:05] SBoudrias commented on #276
Well, the bug is pretty simple to find.

Basically when you add an extra listeners, each items in the array get processed again (this here is going to get called twice https://github.com/SBoudrias/Inquirer.js/blob/master/lib/ui/prompt.js#L61).

Gonna have to read RX documentation to see how to not rerun the whole process for each listeners... Pr welcomed.

[2015-09-14 03:15] #209 closed

[2015-09-14 03:15] #276 closed

[2015-09-14 04:35] SBoudrias commented on #282
Hey guys, I'll need more details because I just tested this on Window 10 (cmd.exe and Node 4.0) and everything is working fine.

I also copied your code example verbatim and it's working fine.

So please retry with the latest Inquirer version. Then give me:

1. Code that I can run and that is failing for you on your computer.
2. Windows version
3. Node version
4. Inquirer.js version
5. Command lin

[2015-09-14 06:14] justin-calleja commented on #209
@Freyert and @SBoudrias - thanks for fixing!

Just saw the latest reply. Must have missed the other one..

Kudos

[2015-09-14 10:14] TrySound commented on #268
:+1:

[2015-09-14 10:18] TrySound commented on #268
Also it would be good to return promise in async callbacks instead of `this.async();`

[2015-09-14 16:56] LPGhatguy commented on #282
@Awk34 @lsycxyj that issue is reported for Windows at issue #266.

[2015-09-14 17:42] ruyadorno opened #285 "stdin/stdout cli-width issue"
One small issue I found while playing with the possibility of setting an `stdin`/`stdout` introduced on #280 is that the [cli-width](https://github.com/knownasilya/cli-width) dependency is still using `process.stdout` directly.

In my specific case I could get a workaround by using its `defaultWidth` property but it's definitely going to be problematic for people wanting to define their own input/

[2015-09-14 18:09] SBoudrias commented on #285
You should probably open an issue on cli-width package.

[2015-09-15 08:07] artem-malko commented on #266
Is there any news?) I have the same problem in Windows 8.1 cmd and git bash.

[2015-09-15 18:14] SBoudrias commented on #266
@artem-malko did you try with cmd.exe?

[2015-09-15 18:30] dthree commented on #277
@SBoudrias It's not a public API feature per say. This can be found in overwriting your `onKeyPress` event:

[code]

T'hanks!

[2015-09-15 18:45] dthree commented on #277
Btw, I'd love to get in touch with you, if you'd like. I've been putting a lot of work into [Vorpal](https://github.com/dthree/vorpal) / [Vantage](https://github.com/dthree/vorpal) and these are totally based on `inquirer` (I credit you). I'm trying to build Vorpal into a pretty robust framework for CLI apps, and `inquirer` is no small part in this. If you're interested, i'd love to throw ideas ba

[2015-09-15 19:26] SBoudrias commented on #277
Feel free to contact me if you'd like.

For your issue, it's because we drop the ctrl key on the utility transforming keypress events into rx streams. https://github.com/SBoudrias/Inquirer.js/blob/master/lib/utils/events.js It'd be trivial to add the any extra details to the events being send around. PR welcomed.

[2015-09-15 19:58] dthree commented on #277
Thanks.

Hmm: Didn't see any code there that explicitly drops it. Also, I tried this:

[code]
Unless you're somehow magically manipulating `process.stdin`, this doesn't look like your problem, does it?

[2015-09-15 20:01] SBoudrias commented on #277
Oh yes, if you don't see it on a raw keypress event on stdin, then I don't know what your issue is.

Also, you're correct, I wrongly assume we were deleting the ctrl key data, but it's kept through the stream.

I'll close this issue as it doesn't seem related to inquirer.

[2015-09-15 20:05] dthree commented on #277
K no problem. Do you happen to know what lib the keypress event comes from?

[2015-09-15 20:28] SBoudrias commented on #277
Oh yes, we're mirroring the event on the readline here: https://github.com/SBoudrias/Inquirer.js/blob/master/lib/ui/baseUI.js#L67

That should be removed. I'll reopen to take note.

[2015-09-15 20:42] dthree commented on #277
K thanks.

But looking at `readline`, it doesn't emit `keypress` events! Only a `line` event from any docs I can see. I'm trying to see where the keypress event comes from. Odd.

[2015-09-15 20:56] SBoudrias commented on #277
Oh, readline is an EventEmitter. Inquirer is manually triggering keypress on the readline when they occurs on the input stream.

[2015-09-15 21:54] dthree commented on #277
You're right. I verified this as a node bug and filed.

https://github.com/nodejs/node/issues/2890

[2015-09-16 02:35] artem-malko commented on #266
@SBoudrias yeap. And it doesn't work in cmd.exe. I have 3 lists, so, the first one doesn't work, but other are fine.
There is interesting behaviour with firtst list. When I press any button, I see a char from with button in console. It seems, that cmd just output all what I've entered.

[2015-09-16 03:01] SBoudrias commented on #266
@artem-malko Looks like windows is not entering in the readline or tty mode...

[2015-09-16 03:40] artem-malko commented on #266
@SBoudrias so, what can I do or it is a bug of Inquirer?

[2015-09-16 04:25] SBoudrias commented on #266
Looks like a Node.js bug. I'd like to have more details to give them to repro, but I don't really have the time to dig this one further.

You should probably investigate the issue on your own (no need to use inquirer, just reproduce it using a Node readline) and report a bug on node.

[2015-09-16 06:16] maxdow commented on #266
Yes it's a nodejs bug. I'm able to reproduce it only with readline. It is related to the keypress event that is not triggered correctly

[2015-09-16 06:25] artem-malko commented on #266
@maxdow so, what can I do with that?

[2015-09-16 06:30] maxdow commented on #266
I tried to solve the issue but without success :/ I don't have the time to investigate more before next week. I think the best is to report an issue to node linked to this issue ( the same exist for angular formly and probably somewhere else ) and with a simple reproductible example.

[2015-09-16 16:48] SBoudrias commented on #266
@maxdow can you post the steps you took to reproduce here?

[2015-09-17 06:37] SBoudrias commented on #277
I removed the hack triggering the keypress on the readline today.

[2015-09-17 06:37] #277 closed

[2015-09-17 16:14] dthree commented on #277
Thanks!

[2015-09-17 19:34] maxdow commented on #266
I can't have access to my windows machine until Monday. I will post you my test code.
The idea was to detect the keypress event using only readline and nodejs. I had the same result than  Inquirer : new line ( press enter ) was Ok but nothing on keydown .
Next i used the keypress module (https://www.npmjs.com/package/keypress)  and i was able to make it working.
I'm pretty sure it's a bug from nod

[2015-09-17 21:06] SBoudrias commented on #266
I wonder if maybe Node is not detecting the windows cli as a TTY on the first run. We could try to force it in TTY and then try if it still fails for you.

[2015-09-19 18:46] peterblazejewicz commented on #266
@SBoudrias
We got an input about the issue that maybe somehow will help to trace the problem:
https://github.com/OmniSharp/generator-aspnet/issues/351#issuecomment-141696695
[code]
I'll try to help somehow as that is a core component of `generator-aspnet` (and probably many others).
Thanks!

[2015-09-20 15:02] leerlemoniii commented on #266
my very hacky fix for this was to have a regular Y/N question that asked the user if they were ready to run my config.... this then allowed me to make the drop down be the second question.  mean user has to hit enter (defaults to yes), but it works after that.  I also wrapped this inside a check of if I was on windows so I only add this question if I need to.

[2015-09-20 15:30] artem-malko commented on #266
@leerlemoniii I did the same thing, but it is not good way)

[2015-09-21 13:02] peterblazejewicz commented on #266
@SBoudrias
I'm not able to run these examples on my machine at work:
https://github.com/SBoudrias/Inquirer.js/blob/master/examples/checkbox.js
https://github.com/SBoudrias/Inquirer.js/blob/master/examples/list.js
https://github.com/SBoudrias/Inquirer.js/blob/master/examples/long-list.js
https://github.com/SBoudrias/Inquirer.js/blob/master/examples/nested-call.js
[code]

[2015-09-21 13:12] peterblazejewicz commented on #266
The tests pass OK on the same machine:
https://gist.github.com/peterblazejewicz/162289a5f2ef93554293

[2015-09-22 07:11] SBoudrias commented on #266
I've open an issue on Node side. https://github.com/nodejs/node/issues/2996

Any help from someone here (able to consistently reproduce the bug) would be very useful. A step by step test case to reproduce the issue with a raw readline would be awesome.

(also ping @maxdow)

[2015-09-22 07:58] maxdow commented on #266
I do a minimal example and i run this on win8 and  win xp  :
[code]
On the win8 computer, i don't have the keypress event triggered at first. I have to press enter to "trig" the keypress event. On win xp there is no problem, i got keypress and line events separatly.
I suppose it works on linux too

Inquirer.js list works fine on win xp that's why I suppose it's related to node

[2015-09-22 08:03] mzgol commented on #266
@maxdow Could you repost that at https://github.com/nodejs/node/issues/2996 so that core Node folks have a test case to try?

[2015-09-22 08:07] maxdow commented on #266
done ;)

[2015-09-22 08:16] artem-malko commented on #266
@maxdow @mzgol @SBoudrias @peterblazejewicz so, we have to wait for new Node release?

[2015-09-22 08:18] maxdow commented on #266
Probably, or use a patch with [keypress](https://github.com/TooTallNate/keypress ) on Inquirer.js ..

[2015-09-22 19:17] peterblazejewicz commented on #266
@maxdow
just observation: I've got the same problem with `keypress` - as you described I had to hit Return (Enter) key first to get listener broadcasting keypresses.

[2015-09-24 11:59] jhenninger opened #287 "Bottom bar not working at all?!"
Running the examples/bottom-bar.js example just prints the following:

[code]

[2015-09-25 17:15] dantman commented on #150
I'm not sure what the point of doing this as a filter would be. I'd like this too, but I think it should be an optional property on the choice object.

[code]

Or maybe a `pretty` or other property to override the text shown in the list instead.

I do think this is fairly important, because there are various cli apps where the name is made really long and formatted so it's helpful to the user. But

[2015-09-25 18:45] dantman commented on #287
The bottom bar broke recently. This appears to be the fault of 84b2bbc.

`rlUtils.clearLine(rl)` was changed to `rlUtils.clearLine(rl, lines)` expecting a new `len` arg. The bottom bar still calls it the old way not indicating how many lines to clear effectively meaning 0 lines are cleared instead of the previous 1 line cleared.

[2015-09-25 20:40] magnis commented on #282
This worked great on `v0.12.x`, but not on `v4.x.x`:

[code]

[2015-09-27 04:00] tienloc1 opened #288 "Cannot press space to select"
I used windows 8.1 and generator-webapp but I cannot press space to select my choice. Please check my screenshot.

![Image of webapp] (https://cloud.githubusercontent.com/assets/3436941/10119401/3fec0a64-64bf-11e5-8370-83cdca6fdc64.jpg)

Maybe is bug? Or there away to fix it? Thank so much for help!

p/s: I tried to report my issue in generator-webapp issue, but they assign me to here.

[2015-09-27 04:01] SBoudrias commented on #288
This is a node issue, we're tracking it on https://github.com/SBoudrias/Inquirer.js/issues/266

[2015-09-27 04:01] #288 closed

[2015-09-27 04:02] SBoudrias commented on #282
I'm going to close this issue as #266 have more feedback and is tracking the issue on Node side. Please continue further conversation over there.

[2015-09-27 04:02] #282 closed

[2015-09-27 04:08] #287 closed

[2015-09-27 04:16] SBoudrias commented on #150
@dantman Ah, that would be very simple to implement and it would probably resolve most use case for an answer filtering option.

How do you feel about this @sindresorhus?

[2015-09-27 04:23] SBoudrias commented on #150
Example implementation here: https://github.com/SBoudrias/Inquirer.js/tree/short-name-for-choices

[2015-09-29 16:39] vsimonian opened #290 "SyntaxError thrown if CLI width cannot be obtained"
If cli-width returns `0`, which is [possible in certain environments](https://github.com/anvilresearch/connect-cli/issues/51), Inquirer will crash on [line 108 of `lib/utils/screen-manager.js`](https://github.com/SBoudrias/Inquirer.js/blob/84b2bbcac664bf26ffb4b2a51d2354807bcb2260/lib/utils/screen-manager.js#L108):

[code]

`/.{1,0}/g` is an invalid regex as the max number of characters is smaller

[2015-09-29 18:45] aguerrieri opened #291 "Feature request: break input"
As a user, I would like to be able to break input by pressing esc or ctrl-c to cancel input and return to the previous prompt.

[2015-09-29 20:15] SBoudrias commented on #291
We don't intend to overwrite the default `ctrl-c` behavior. This would be a pretty bad user experience.

[2015-09-29 21:12] aguerrieri commented on #291
I'm not implying breaking the default behavior, but providing means to be able to get out of a menu by pressing some key(s) [escape perhaps?].

[2015-09-29 21:13] aguerrieri commented on #291
... and in fact right now, if you press ctrl-c it goes into a "locked" state and you need to press ctrl-c again to get out of it, so something seems to be indeed messing with the default behavior.

[2015-09-30 16:30] cravecode opened #292 "Default value callback not called when used in recursion"
If I'm recursively prompting a set of questions, the default value of a question is the generated value from the first iteration. It appears that a default value callback is not called on successive prompts of the same question.

[2015-10-02 14:49] pumbers commented on #272
Getting the same problem on Babun ... also mintty based I believe.

[2015-10-02 16:41] ayhankuru commented on #272
Any update this issue?

[2015-10-02 18:27] mbleigh opened #293 "Have to send two SIGINT to kill when prompt is open"
If you Ctrl-C out of a command while an inquirer prompt is open, it just adds a couple lines of space and then you have to Ctrl-C again to actually exit. I'd expect the calling program to be the one controlling what happens on SIGINT here.

Is this working as intended? If so, is there a way to be notified when Inquirer has trapped a SIGINT?

[2015-10-02 18:29] SBoudrias commented on #293
Inquirer shouldn't trap SIGINT. What's your OS/terminal/node version?

[2015-10-02 18:38] mbleigh commented on #293
Interesting...I tried to create a minimal repro but couldn't reproduce the behavior. I thought I had seen the behavior in `bower init` but now can't reproduce that either. Feel free to mark as closed, I must be mistaken about the cause of my issue.

[2015-10-06 02:25] artem-malko commented on #290
:+1: got this bug on WIndows.

[2015-10-06 09:54] artem-malko commented on #290
@SBoudrias is there any news about this bug?

[2015-10-06 18:36] SBoudrias commented on #290
@artem-malko Feel free to send a PR.

[2015-10-06 21:01] lostPixels commented on #290
Just encountered this one too when users of my app were attempting to execute a script in the Intellij shell.

[2015-10-07 16:24] iamakulov opened #294 "Duplicated prompt on Windows"
Hi,

I’m working on a Yeoman generator. The following code makes a prompt to a user:

[code]
The produced prompt is duplicated after the user answers the question:

![Demo](http://i.imgur.com/kYn0QLn.gif)

This is reproducible both in PowerShell and in `cmd.exe`.

Is there a way to fix this behavior or work around it?

[2015-10-07 16:26] gxoptg commented on #294
Whoops, sorry, I was wrong about `cmd.exe` working properly. Removed that line.

[2015-10-12 03:32] dthree opened #295 "Simple enhancement: pass Paginator page height as option"
Right now the Paginator `pageSize` variable is [hardcoded at a fixed 7](https://github.com/SBoudrias/Inquirer.js/blob/master/lib/utils/paginator.js#L18).

Sometimes, a ton of stuff gets listed, and the auto-scrolling is just a littel rough at that small a size.

Would it be possible to pass in an option to `inquirer.prompt` to set a custom paginator size? This seems like a very simple enhancement.

[2015-10-12 20:22] ascariandrea commented on #150
@SBoudrias any update of this?

[2015-10-12 21:13] SBoudrias commented on #150
@ascariandrea I was waiting for feedback on the suggested API.

[2015-10-13 07:42] ascariandrea commented on #150
I'd suggest to make the list you are filtering on visible and make it works like `rawlist`.

[2015-10-14 11:07] RonaldTreur commented on #99
Just to make sure this stays on the radar: +1

[2015-10-15 13:38] jviotti opened #296 "Better error message when running inquirer in a context where cliWidth equals zero"
Running an inquirer widget inside a script called with [windosu](https://www.npmjs.com/package/windosu) for example, where `cliWidth()` equals `0`, throws the following error:

[code]

Which comes from https://github.com/SBoudrias/Inquirer.js/blob/master/lib/utils/screen-manager.js#L108.

Assuming there is no reliable way to get a meaningful `cliWidth` number out of contexts like this, I suggest c

[2015-10-15 15:34] matthewp commented on #272
@ayhankuru What about this comment is not clear enough? https://github.com/SBoudrias/Inquirer.js/issues/272#issuecomment-138375494

[2015-10-15 16:05] matthewp commented on #269
@SBoudrias There is no such option for child_process.exec it seems, do you know if that's right? I think you must use spawn when creating a child using inquirer.

[2015-10-15 18:05] SBoudrias commented on #269
It is possible you can only use spawn. The important thing is that you need to be able to inherit the stdio.

[2015-10-15 18:07] SBoudrias commented on #296
Duplicate of https://github.com/SBoudrias/Inquirer.js/issues/290

[2015-10-15 18:07] #296 closed

[2015-10-15 18:19] jviotti commented on #296
@SBoudrias The two issues, while similar in the surface, mention different problems. With `windosu`, if I just mock the return value of `cliWidth` inquirer *does* run (`stdio` is inherited).

[2015-10-15 18:20] SBoudrias commented on #296
The context is different, the issue is the same. Inquirer should handle a cli width of 0 by setting a baseline default value.

[2015-10-15 18:22] jviotti commented on #296
Yeah sorry, I deleted the message before you posted that one. I believe you updated the link since it was pointing to another issue before.

[2015-10-15 18:37] jviotti commented on #290
I've sent a PR for setting the default value to `80`. I've experimented with it in a Windows 10 PC and seems to be working fine.

Omitting tests since `screen-manager.js` it not being unit tested at all.

[2015-10-15 18:39] #290 closed

[2015-10-16 16:31] dthree opened #299 "Terminal breaks when input is too wide"
Minimally on the standard OSX Yosemite 10.10.4 terminal, the prompt goes whack when text extends beyond the end of the line.

See this link for more details:

https://github.com/dthree/vorpal/issues/23

[2015-10-16 16:43] scotthovestadt commented on #299
Confirmed this happens in raw Inquirer.js as well as Vorpal. In screen-manager.js, if I console.log every time input is detected, I can go to 2 lines (and on the third line this happens). Seems related to screen-manager.js.

![blankthoughtfulhyracotherium](https://cloud.githubusercontent.com/assets/1831484/10547577/2cd124ac-73ea-11e5-8642-279622d5b4e7.gif)

[2015-10-16 16:48] scotthovestadt commented on #299
Note that the attached behavior only happens until it reaches the top of the screen and then it behaves somewhat normally.

[2015-10-16 16:53] scotthovestadt commented on #299
Using require('cli-clear')() will reset terminal input and everything works correctly from that state. If terminal input is pushed to bottom again this resumes happening.

[2015-10-16 17:45] SBoudrias commented on #299
This is the same bug as #261 - I'll close this one in favor of this other one who contains lot more details as to why this behavior is happening.

[2015-10-16 17:45] #299 closed

[2015-10-16 18:04] dthree commented on #299
kk

[2015-10-18 20:21] ayhankuru commented on #272
@matthewp sorry, ı'm checkout that comment

[2015-10-20 20:21] SBoudrias commented on #272
FWIW, that's the issue on Node side tracking the issue you're having https://github.com/nodejs/node/issues/3006

Node always had issue with fake windows command lines. Not sure what their plan is for eventually fixing.

[2015-10-20 20:43] sindresorhus commented on #295
:+1:

[2015-10-28 15:29] pgherveou commented on #268
That would be great especially when used with generator function
[code]

[2015-10-28 20:57] EladBezalel commented on #294
+1

[2015-10-30 14:30] callumlocke commented on #196
Has there been any progress on this?

[2015-10-31 03:09] mrkev commented on #295
+1

[2015-10-31 11:37] sindresorhus commented on #150
Looks like this was fixed in 0.11.0: https://github.com/SBoudrias/Inquirer.js/releases/tag/v0.11.0

[2015-10-31 11:37] #150 closed

[2015-11-02 18:42] callumlocke commented on #268
@SBoudrias I am happy to put together a PR if you can confirm you're willing to do a major version bump for this?

[2015-11-02 18:44] SBoudrias commented on #268
@callumlocke PR welcomed

[2015-11-06 02:20] SBoudrias commented on #261
FWIW not got a fix for OSx on master. But that's breaking on windows.

There's also some edge cases failures on OSx with the input prompt, but that seems fairly minor.

[2015-11-06 03:50] SBoudrias commented on #295
Fixed with #300

Also a duplicate of #180

[2015-11-06 03:50] #295 closed

[2015-11-06 03:50] SBoudrias commented on #180
Fixed with #300

[2015-11-06 03:50] #180 closed

[2015-11-06 04:59] dthree commented on #295
:+1: thanks!

[2015-11-06 07:04] mrkev commented on #295
awesome thanks!

[2015-11-07 00:34] djskinner opened #302 "Use Rx.Subject?"
Using `Rx.Observable` works for me but `Rx.Subject` does not.

For example the following works:

[code]

But the following does not:

[code]

I want to use a Subject so that I can add further questions to the stream depending on answers to previous questions.

Any idea why the prompt just doesn't display when using `Rx.Subject`?

[2015-11-07 00:36] SBoudrias commented on #302
Is there a chance the RX versions just mismatch?

[2015-11-07 00:41] djskinner commented on #302
I just tried using "rx-lite": "^3.1.2" and it has the same issue.

[2015-11-09 20:20] #233 closed

[2015-11-14 21:13] nmai opened #303 "Arrow keys for selecting options doesn't work in Windows"
This issue is directly related: https://github.com/eslint/eslint/issues/3880

Pressing the arrow keys does nothing. Running node.js v4.1.2 under Windows 8.1.

[2015-11-14 22:15] SBoudrias commented on #303
Duplicate of https://github.com/SBoudrias/Inquirer.js/issues/266 - you have the full background of the issue there and Node.js fixed the issue on their master branch.

[2015-11-14 22:15] #303 closed

[2015-11-14 22:49] nmai commented on #303
@SBoudrias Thank you, and my apologies for creating a duplicate. I upgraded to Node 5.0.0 in hopes that it would have the latest patch. It did not. Hopefully they'll roll out the fix in the coming days.

I discovered that the arrow keys worked perfectly fine in https://github.com/Maximus5/ConEmu but the default Windows command prompt, Node.js command prompt, and Git command prompt all failed.

**t

[2015-11-16 18:54] jonschlinkert commented on #227
I'd be happy to do this, would you be willing to take/review a pr? I was about to create this request, glad to see it's on your mind already :)

[2015-11-16 18:57] SBoudrias commented on #227
Yes, PR welcomed :)

[2015-11-16 18:58] jonschlinkert commented on #227
great, I'll put something together this week. thx!

[2015-11-16 19:24] jonschlinkert commented on #250
this would be great to have.

[2015-11-16 19:37] SBoudrias commented on #250
You guys might be interested in this project https://github.com/mokkabonna/inquirer-autocomplete-prompt

[2015-11-19 13:54] hrbu commented on #294
+1 The same in git-bash on Windows.

[2015-11-19 21:07] SBoudrias opened #304 "Use wrap-ansi to force wrap lines"
Should simplify the code by a great amount https://github.com/chalk/wrap-ansi

[2015-11-21 09:18] Spaider commented on #303
For some reason, ConEmu does not always work as well. I did not investigate it a lot, but it worked for me only for non-admin console.

[2015-11-21 16:29] seethemhigh commented on #275
Allow me to chime in. I've got the PR ready for the submission. Shall I send it out? @Downchuck does not mind?

[2015-11-21 18:11] Downchuck commented on #275
That's fine with me. We did find in another project, that if you include many lodash modules, the aggregate size of the license files is unreasonable.

[2015-11-21 18:38] drj-io opened #306 "[feature request] Up arrow for last result"
Up arrow for last answer.  Great for setting up builds and configurations.

This could be a configurable option.

[2015-11-21 18:58] seethemhigh commented on #275
Thanks!

That's amusing. Same thing happens here. That's only increased the size of the package. Not worth it. I think the issue can be closed.

[2015-11-23 00:30] jonschlinkert commented on #227
@SBoudrias I'm working on this now. since I have to update require statements I noticed that some places have double quotes, some single. which do you prefer?

[2015-11-24 12:47] loveencounterflow opened #308 "Possible to select all or none?"
When presenting a long checkbox list, it would be great if one could select all options, no options or invert choices with a single keystroke (such as `a`, `n`, `i`). Is something like that possible or can it be implemented using the current API?

[2015-11-24 19:29] ChristianAlexander commented on #293
I ran into this issue recently. Because of Inquirer.js's usage of `readline2`, SIGINT only gets sent to Inquirer, which is fine when Inquirer is in the only running process.

For me, the problem came up when I had a child process running. Since Inquirer does not propagate the signal, it is never exposed to the main process. This essentially removes any ability to listen for any signals with `proce

[2015-11-24 19:32] SBoudrias commented on #293
@ChristianAlexander can you link to the Node documentation stating that readlines won't propagate signals to the process?

[2015-11-24 20:00] ChristianAlexander commented on #293
After looking into this further, there is no documentation explicitly stating that signals do not propagate. In fact, manually sending a SIGINT (ex: `kill -2 <node process id>`) does work.

The problem is that readline itself listens to the TTY directly, so a 'real' SIGINT isn't produced.
See: https://github.com/nodejs/node/blob/master/lib/readline.js#L689-L700

[2015-11-24 20:58] SBoudrias commented on #293
@ChristianAlexander mind opening an issue on Node and linking this issue?

[2015-11-24 21:37] ChristianAlexander commented on #293
I'm unsure if this should be considered an issue at the Node level. Perhaps there could be a case where it wouldn't be desirable to send a SIGINT on `ctrl+c` in a project directly dependent on readline.

However, I can not come up with a scenario where any Inquirer-based projects would use `ctrl+c`. Even if such a scenario were to exist, the event wouldn't be exposed to consumers of Inquirer.

If

[2015-11-24 21:39] SBoudrias commented on #293
I don't know, but that seems like a conversation worth having with the Node community.

Feel free to send a PR.

[2015-12-02 03:50] johnweland commented on #282
I actually have the same issue in Node 5.1.0

[2015-12-03 12:11] philkunz commented on #266
any update here?

[2015-12-03 18:24] Amberlamps opened #310 "this.async() not compatible with ES6's arrow function."
With the uprise of ES6 people will intuitively write:

[code]

But this obviously throws an error as `this` is now pointing to the `questions` array itself rather than to whatever Inquirer elects as `this`.

`TypeError: this.async is not a function`

Ideally I would like to change the function's signature to `validate: (input, done) => {}`, but that is not at all backwards compatible and would bre

[2015-12-03 18:41] Amberlamps commented on #303
I am running Node in 5.0.0 on Windows 8.1. Arrow keys do not work in this simple example:

[code]

But when I add a simple boolean it magically works. Maybe this sheds a little light on this issue.

[code]

[2015-12-03 19:19] Amberlamps commented on #179
I would like to have a validate function on list types. Why would you purposely remove that feature?

[2015-12-03 19:47] SBoudrias commented on #266
Anyone tried on the latest node? If it's not fixed yet, you should ping them on their bug thread.

[2015-12-03 19:48] SBoudrias commented on #310
You can return a promise.

Also, ES6 didn't deprecate `function () {}`

[2015-12-03 19:48] #310 closed

[2015-12-03 19:50] SBoudrias commented on #303
@Amberlamps please see related issues. It's all explained in deep. Node release a bug causing a race condition who's not creating keypress events on windows.

[2015-12-03 19:51] SBoudrias commented on #179
@Amberlamps if you want to do an action on the selection of a choice, no need to hack around. Just do it in the callback function.

[2015-12-03 21:18] peterblazejewicz commented on #266
@SBoudrias I'll do this with LTS version. Thanks!

[2015-12-04 13:24] peterblazejewicz commented on #266
@SBoudrias
Tested on Win8.1: it seems that Node 5.1.1 Stable comes with fix.:
[code]
The 5.1.1 works with CMD and PowerShell terminals. I was not able to get it worked with Bash terminal.
The LTS 4.2.3 version does not contain a fix I think.
Thanks!

[2015-12-04 18:41] SBoudrias commented on #266
Bash (like git bash and cie) terminals don't support readlines on Windows. They're very bad emulator.

[2015-12-04 20:52] peterblazejewicz commented on #266
Understand. Just posting facts for the records. Thanks for the comments!

[2015-12-11 12:56] keithamus commented on #310
Hey @SBoudrias you mention that I could return a Promise instead of using this.async.

I had assumed this to be the case for `when` - but it seems not to be. (Using inquirer 0.11.0).

Here you can see I'm trying it in the Node repl:

[code]

It looks like the problem is that `run-async` is [only version 0.1.0](https://github.com/SBoudrias/Inquirer.js/blob/master/package.json#L32) in Inquirer's pac

[2015-12-11 19:11] SBoudrias commented on #310
@keithamus oh yes, PR welcomed. It might be blocked a while though as master is broken on windows and I haven't really got the time to investigate that further.

[2015-12-11 19:46] keithamus commented on #310
Is there an issue for Windows breaking? Do you know the commit that caused it?

[2015-12-11 19:51] SBoudrias commented on #310
@keithamus no ticket, it's just part of refactor/fixes to issue with implicit line returns https://github.com/SBoudrias/Inquirer.js/commit/6e269f05ebc49383398b8504dc65a5c7cd0806c0

If you feel like investigating, windows add an extra empty line between each line. I feel like it automatically send the cursor to the next line after writing a line (maybe).

[2015-12-17 15:24] step1step2 commented on #250
@paoloantinori  Did you publish the application? Was it https://github.com/paoloantinori/git-bc ?
@SBoudrias https://github.com/mokkabonna/inquirer-autocomplete-prompt/blob/master/example.js doesn't work for me.

I'm still very interested.

[2015-12-17 16:48] the-simian commented on #250
This is a cool feature idea for large sets, I can see its being handy.

[2015-12-26 01:19] lfilho opened #312 "Not working under alpine linux in docker"
I'm trying to wrap an app that uses Inquirer.js in a Docker container, using Alpine Linux (bash) but it returns the error:

[code]

Versions:
[code]

[2015-12-26 12:05] lfilho commented on #312
Sorry, my bad. I forgot to pass `-t` to docker in order to emulate a real tty. Now it worked. Sorry for that

[2015-12-26 12:05] #312 closed

[2015-12-27 15:56] BlueHotDog commented on #308
:+1:

[2015-12-29 05:06] adjohnson916 commented on #99
+1 Any updates on this? I support the `Shift`+`Enter` idea, either as a default to insert newline on any option, or swapped for `Enter` behavior which instead inserts newline on options explicitly configured as multiline.

[2015-12-29 06:20] SBoudrias commented on #99
@adjohnson916 PR welcomed.

[2015-12-30 09:17] yashilanka opened #314 "if both checkbox select, return value"
how to get return value form if both checkbox select, i hope this is a simple one. i tried several methods but none of them working.

[2015-12-30 10:13] SBoudrias commented on #314
What do you mean?

[2015-12-30 10:51] gsklee opened #315 "Display default value?"
Can we have default values displayed somehow?

[2015-12-30 12:16] yashilanka commented on #314
ok here is the example

 i'm asking what do you want to backup, and there are two answers(checkbox) one is src folder another one is build folder, when someone check both option then both are created, i have try length, check, truthy, equal things but none of them working. but when someone choose one of answers then it build backup according to what he choose. i need to check if both are checked.

[2015-12-30 20:09] SBoudrias commented on #314
Well, the checkbox will return the choices in an array value. So just check what this array contains.

This is not an issue with the project, and it looks like a basic JS question. Please refers to StackOverflow with a reduced test case if you need further help.

[2015-12-30 20:09] #314 closed

[2015-12-30 20:09] SBoudrias commented on #315
What do you mean?

[2015-12-31 01:37] lichenhao opened #317 "How to extend the type can be input-optional?"
As wish, how can I give the user some choices and writable if they do't want to use it that in my list.

[2015-12-31 02:15] SBoudrias commented on #317
Inquirer is just JavaScript. Any JavaScript logic will just work.

Just check the result of the initial list, and take another action (like calling `inquirer.prompt()` again) based on their answer.

[2015-12-31 02:15] #317 closed

[2015-12-31 15:35] yashilanka commented on #314
i figure it out.. thanks

[2016-01-04 16:54] peterblazejewicz commented on #266
@LPGhatguy
It seems to be fixed in Node:
https://github.com/nodejs/node/issues/2996

[2016-01-04 17:46] LPGhatguy commented on #266
It appears to work in 5.3.0 for me -- thanks for pointing that out!

[2016-01-04 17:46] #266 closed

[2016-01-04 20:25] peterblazejewicz commented on #266
@SBoudrias Thanks for the patience :bow:

[2016-01-07 13:01] eurochriskelly opened #318 "Access previous answers in current answer"
I'd like question X+1 to know the answer from question X.
In the following example I use validate to get the desired effect.

Is there a way to get access to the answers object before it's been passed to the callback?

    var min = 0;
    var prompts = [
            {
                type: 'input',
                name : 'min',
                message : 'min?',
                validate : function

[2016-01-07 19:02] SBoudrias commented on #318
Nest the prompts - Inquirer is only javascript.

[2016-01-07 19:02] #318 closed

[2016-01-07 20:22] eurochriskelly commented on #318
Thanks for the quick response. I prefer my own hack to nesting though. I was thinking it would be nice to make answers accessible as another parameter to the validate callback or perhaps to a ```before``` hook.

[2016-01-07 20:39] SBoudrias commented on #318
Most inquirer functions get an answer object as parameter. Pretty sure validate have it too.

[2016-01-08 11:27] eurochriskelly commented on #318
Ok, that's great. thanks. I can ditch the closure now:

    var prompts = [
            {
                type: 'input',
                name : 'min',
                message : 'min?'
            },
            {
                type : 'input',
                name: 'max',
                message : function (answers) {
                    return "max: must be greater than " + answers.min;

[2016-01-08 18:54] atomantic opened #319 "Feature: List choice config for arbitrary value option"
would be great to allow a list to be configured with an 'arbitrary' boolean option.
[code]
which would output:

[code]
and if the user selects the 3rd option ('...'), a new `input` prompt appears to capture an arbitrary value.

As it is, it looks like I have to ask a set of questions then evaluate all the answers to see if any of the values are "new..." to re-ask the questions as `input` types, wh

[2016-01-08 19:49] SBoudrias commented on #319
Doing it manually is not cluttering the API with specific needs and is not that hard. I'll close the request.

[2016-01-08 19:49] #319 closed

[2016-01-11 20:24] prasikumbhare opened #320 "Can not find module 'commander'"

[2016-01-11 20:26] #320 closed

[2016-01-13 13:59] martinheidegger commented on #262
Note: this is a bug in early Node 4 & 5 versions. Should be fixed now.

[2016-01-13 16:46] kokujin commented on #292
Does anyone have a solution for this issue? Thanks

[2016-01-13 16:52] kokujin commented on #175
@SBoudrias , do you have a link to the docs on how one can develop plugins? Thanks

[2016-01-13 18:42] SBoudrias commented on #262
Yeah, please retry on the latest version. This should be fixed.

[2016-01-13 18:42] #262 closed

[2016-01-13 18:43] SBoudrias commented on #292
Inquirer re-process every input everytime it's called. There's no cache.

I'll need some code to see what you're doing that might break.

[2016-01-15 02:08] kmgilbert100 opened #321 "Inactive list select items?"
Is it possible to make a select list item inactive so it cannot be selected or at least if it is it doesn't do anything...

Thanks.

[2016-01-15 02:10] SBoudrias commented on #321
Why not just exclude the choice from the list?

[2016-01-15 02:11] kmgilbert100 commented on #321
I have a terminal menu for a full block terminal application... Multi level menu etc... Some items are disabled temporarily therefore they should show.

I found this - https://github.com/SBoudrias/Inquirer.js/issues/92

But i tried it and it seems it doesn't work so well.

[2016-01-15 02:12] kmgilbert100 commented on #321
It seems if you add that disabled you can still select the list item... if you do it returns the response for the next item in the list.

[2016-01-15 03:30] SBoudrias commented on #321
Hum, that might be a bug. Feel free to investigate and send a PR.

[2016-01-15 17:58] kmgilbert100 commented on #321
Sure - Always glad to contribute when the project is actually monitored.. haha

[2016-01-16 01:13] felipenmoura commented on #293
So...
I want to capture the ctrl+c to, let's say, output a "good bye" before exiting, killing a socket, and other small things like logs.
But I also want to listen to ctrl+l to clear the console, and if possible, esc!
If inquirer does receive these events somehow, it could have an API so we could have access to them.

[2016-01-16 01:17] SBoudrias commented on #293
@felipenmoura these events are global, you don't need to listen to it on inquirer.

[2016-01-16 22:46] kmgilbert100 commented on #321
Hmm.... I tried setting up a new env and pulled from master and the disabled state seems to work... ill have to do some more investigating but can maybe mark this as resolved here in a bit.

[2016-01-17 00:47] felipenmoura commented on #293
Well, they are not being triggered!
I am using inquirer, with `wait`, and also using the `process.on('SIGINT', ... )`, and it is never called!
I am not sure if I am doing something wrong, or if it has something to do with this thread.

[2016-01-17 01:17] SBoudrias commented on #293
@felipenmoura that's what this thread is saying. That's due to the Node.js readline. You guys should open an issue on the Node project.

[2016-01-19 01:42] JimmyBoh commented on #152
@SBoudrias Is there any written documentation on this? I see how it works with the built in types, but wasn't sure if there was a wiki page or blog post with details and gotchyas.

[2016-01-19 02:43] SBoudrias commented on #152
@JimmyBoh No documentation at the moment, help is welcome to add one.

[2016-01-20 02:25] yibn2008 opened #324 "publish a patch version for PR #322"
@sindresorhus We need to use the fixed version of inquirer.js in our project, can you publish a patch version for the PR #322 ?

thx~

[2016-01-20 07:23] SBoudrias commented on #324
0.11.3 is out.

I needed to manually validate it was still working as expecting accross a few platform.

[2016-01-20 07:23] #324 closed

[2016-01-20 07:26] yibn2008 commented on #324
:+1:  thx a lot :-)

[2016-01-21 17:24] martinheidegger opened #325 "Resizable Header."
In [nodeschool-admin](https://github.com/nodeschool/admin) I used Inquirer to do all the dialogs. In front of the first dialog I wanted to render some ascii art because it makes you feel special. However: the ascii art turns out to be [not resizable](https://github.com/nodeschool/admin/issues/25) and I am not quite sure how I would implement resizability with an active inquirer wizard running. Do

[2016-01-21 19:07] SBoudrias commented on #325
You could check the `cli-width` size prior to prompting and change the ASCII art being displayed (maybe show a smaller one on smaller screen).

There's definitively no way to resize text programmatically in the terminal to make your art fit.

[2016-01-21 19:08] SBoudrias commented on #325
Also rule of thumb, keeping the art under 80char width will match pretty much any screens.

[2016-01-21 19:08] #325 closed

[2016-01-22 00:19] martinheidegger commented on #325
@SBoudrias There is a way of resizing text programmatically in the terminal to make art fit (its how & why `vim` and `emacs` works). Here is [terminal-layout](https://github.com/Comedalte/terminal-layout), a library that does resizing. Technically - as far as I understand - it works by deleting formerly rendered content and rendering it again. I thought it could be best if Inquirer could have some

[2016-01-22 00:23] SBoudrias commented on #325
It doesn't resize. Like I said, it change the content when the screen size change. You can listen to all those things with Node API. That's not something that Inquirer is handling or is Inquirer specific.

[2016-01-22 00:26] martinheidegger commented on #325
While being presented a question the inquirer renders the string output and changes it upon selection. On Screen-resize I would need to clear the inquire content AND the header.

[2016-01-27 11:08] karol-f commented on #294
Same is on OSX iTerm2

[2016-01-27 19:20] SBoudrias commented on #294
This should work fine on the latest release now.

[2016-01-27 19:20] #294 closed

[2016-01-27 19:29] iamakulov commented on #294
Amazing, thanks!

Could you please point to the commit that fixes it? Just interested what was the reason.

[2016-01-27 19:30] SBoudrias commented on #294
@iamakulov not sure anymore, it's been fixed for a while.

[2016-02-05 12:06] kpapadatos opened #329 ".hide() and .show() active prompt"
The output of my program constantly logs various events but also waits for input from a prompt. If one starts typing a command and something needs to be logged, the text will break. I would like to wrap console log with something like this:

[code]

Is this possible right now?
Thanks.

[2016-02-05 19:23] SBoudrias commented on #329
That's not possible ATM. And to be fair that's not really a priority, I'm not sure how we'd handle a similar use case.

[2016-02-05 19:24] SBoudrias commented on #329
Well we'd probably want to do something like the BottomBar module where we'd probably want to split our screen in two stream and make inquirer write to the bottom stream while the log is piped to the top stream.

[2016-02-06 00:29] btakita commented on #225
is this still in the works?

[2016-02-06 22:37] paglias commented on #199
@SBoudrias the input still says to use the keys to move up and down in a raw list

[2016-02-06 23:05] SBoudrias commented on #199
@paglias open a new bug report then.

[2016-02-08 18:07] shayne commented on #60
It's easier to mistype the wrong index since the keys are all adjacent. Not necessarily a vote for supporting adding support in `rawlist` but perhaps adding an `expanded: true` optional property to expand. Also, is it necessary to re-collapse the expand list when you've made a selection. The cursor and character disappear on me, perhaps it's enough to type the letter and press enter w/o un-expandi

[2016-02-08 19:21] hzoo opened #331 "Enforce idiomatic style guide with JSCS?"
If you want, you can enforce a style with JSCS' idiomatic.js preset http://jscs.info/overview

[code]

[code]

[2016-02-08 21:20] SBoudrias commented on #331
If you're willing, I'd be happy to accept a PR adding eslint following xo style.

[2016-02-08 22:20] hzoo commented on #331
Sure - and removing JSHint/changing the readme to say it's following xo style?

[2016-02-08 22:31] SBoudrias commented on #331
Exactly :)

[2016-02-08 23:25] gajus opened #333 "Update lodash dependency to version 4"
Reason for asking: to simplify the dependency tree of ESLint (see https://github.com/eslint/eslint/pull/5015#issuecomment-181618104)

[2016-02-08 23:26] gajus commented on #333
Furthermore, install is now throwing warnings:

[code]

[2016-02-08 23:27] gajus commented on #333
Never mind, https://github.com/SBoudrias/Inquirer.js/blob/v0.11.4/package.json#L30

[2016-02-08 23:27] #333 closed

[2016-02-09 03:52] #285 closed

[2016-02-10 20:39] ericis commented on #282
Same. I also have the issue on Node 5.6.0

[2016-02-15 23:45] #253 closed

[2016-02-20 06:51] dthree commented on #275
@SBoudrias this is a really big deal for me.

As you know [Vorpal](https://github.com/dthree) is a big user of Inquirer.

I have been trying to make Vorpal as slim as possible:

- Like Inquirer, it's a user-downloaded module. That means someone types `npm install` stares at terminal waiting for the library depending on Inquirer / Vorpal to download. Speed is of the essence.

- The slimmer the modu

[2016-02-20 17:46] mxstbr commented on #315
Like a placeholder, giving the users an example of what the answer to the input might look like. I've had this request a few times, and think it'd be really useful!

[2016-02-20 18:12] jdalton commented on #275
I don't think an unofficial [mindash](https://www.npmjs.com/package/mindash) is necessary for the case of `npm i`. The lodash v4.5.0 package is is 245kb over the wire to `npm i` it.
If I'm not mistaken npm installs should be cached by npm too so it's a one time cost per version.
See @othiym23 comments:

...

[2016-02-20 18:43] jdalton commented on #275
So by using `mindash` you're actually increasing the cost for most folks.

[2016-02-20 18:45] Downchuck commented on #275
This issue pops up for quite a few projects; it's possible the lodash upstream project may have opinions on it.

I do see a benefit.

[2016-02-20 19:08] jdalton commented on #275
If the cache isn't working, and there's a real issue, then yep lodash core is interested in helping. However, if the npm cache is working, then it's just about getting that knowledge spread. I see this comes up from time to time from those super interested in file size but without the background knowledge of how npm works or know how of bundlers/minifiers.

[2016-02-20 22:04] dthree commented on #275
@jdalton thanks.

I do understand how NPM caching works, and have been over this before. However, for first-time installs, it is still taxing. For example, I'm about to [release an app](https://github.com/vorpaljs/cash) that's going to have a ton of first-time installs as it reaches to a different public.

I get that gzipped, you'll get lodash at 245kb over the wire. That's good, but if you gzip l

[2016-02-20 22:07] jdalton commented on #275
If lodash has already been installed on their system then it should be cached regardless of your package release.

Again, it's a one time cost. A cost that's likely already been paid.

[2016-02-20 22:13] jdalton commented on #275
So what you're doing is adding extra download time to your app because changes are `mindash` is uncached and will require a download.

[2016-02-20 22:21] jdalton commented on #275
Let's put it another way. 46,977 packages depend on `lodash` in some way. That's 46,977 opportunities of it to be cached. None currently published depend on `mindash`

[2016-02-20 22:24] jdalton commented on #275
If you want a greater chance of it being cached use `lodash@^3.0.0` as it has a greater number of package dependents.

[2016-02-20 22:40] dthree commented on #275
Totally got it on your points. I'm completely all for official builds with a ton of dependents. With in mind, could you please let me know your thoughts on the latter half of my last, concerning why there can't be an official minified module?

[2016-02-20 22:42] jdalton commented on #275
I think your micro-optimizing and obsessing to the point of actually adding a cost to your users. On 3g lodash as is takes maybe 1 second to download on a fresh non-cached install. I've put in to have `mindash` removed from the registry I'll let the npm admins take it from there.

[2016-02-20 23:14] jdalton commented on #275
The individual modules take a considerable amount of effort. Every additional build has a cost to maintain.  I don't see this as adding value and worse it promotes misinformation about size, caching, & priorities. I don't want devs falling into this trap I'm not going to help push them in.

[2016-02-20 23:43] SBoudrias commented on #315
@mxstbr doesn't the `default` option enough?

Also, if you need specific formatting or answers, then other prompts like lists might be more appropriated. Or using a filtering/validator function.

[2016-02-20 23:45] mxstbr commented on #315
The problem is that you don't show the `default` afaik. So as a user, I have no idea what I should put in the input.

An example would be a question after a twitter username, should I include the `@`, should I not include it,...?

[2016-02-20 23:48] SBoudrias commented on #315
@mxstbr the default is displayed. Maybe you don't see it because or your terminal color theme?

[2016-02-20 23:55] mxstbr commented on #315
Oooh nice, this issue can be closed then I guess. Thanks!

[2016-02-21 00:19] #315 closed

[2016-02-22 20:43] AGresvig commented on #268
@SBoudrias did you ever get around to it? I agree Promises is the way to go now, callbacks are a thing of the past in my workspace.

[2016-02-22 21:17] SBoudrias commented on #268
PR welcomed as it's now officially supported since Node v4

[2016-02-23 14:14] callumlocke commented on #268
@AGresvig I had a dig around but decided I'm not the one to do it if @SBoudrias wants to retain the Rx stuff.

[2016-02-23 18:43] SBoudrias commented on #268
We can return a promise and add the rx property on it.

[code]

[2016-02-23 18:47] SBoudrias commented on #275
After reconsidering and going through @jdalton answer. I think we should drop this issue. We're using lodash a lot inside of Inquirer, there's really no reason to start using only specific modules until we rely less on lodash.

[2016-02-23 18:47] #275 closed

[2016-02-23 18:47] dthree commented on #275
I'm okay with this.

[2016-02-23 22:43] mindfullsilence commented on #213
+1

[2016-03-01 16:14] savageautomate commented on #291
I would like to second this issue.  I ran across this scenario today.

[2016-03-02 18:39] AlexGustafsson commented on #266
Still not working for me. I thought this was solved by the Node JS team?

Windows 10,
CMD & Babun(Cygwin),
Node v5.6.0.

[2016-03-02 18:45] SBoudrias commented on #266
There's a regression on the node side. The team is investigating.

[2016-03-03 12:15] guillaumervls commented on #196
:+1:

[2016-03-03 14:59] AlexGustafsson commented on #266
@SBoudrias is there any related issue I can follow?

[2016-03-03 17:58] hansl opened #337 "cli-width can return 0 in STDIN-less terminals."
Emacs notably has a terminal mode where `cli-width` return 0. Seems that in this case the default width is also ignored.

This results in this line [here](https://github.com/SBoudrias/Inquirer.js/blob/master/lib/utils/screen-manager.js#L116) to construct an invalid regex (`(?:(?:\\033\[[0-9;]*m)*.?){1,0}`).

Solution: [this line](https://github.com/SBoudrias/Inquirer.js/blob/master/lib/utils/scree

[2016-03-03 18:36] SBoudrias commented on #266
https://github.com/nodejs/node/issues/5384

[2016-03-03 18:37] SBoudrias commented on #337
You should open an issue on the cli-width package.

[2016-03-03 18:37] #337 closed

[2016-03-03 23:11] SBoudrias commented on #331
@hzoo any chance you're still up for the task?

[2016-03-03 23:12] SBoudrias commented on #261
I believe this is fixed on the latest version. Would someone mind testing it?

[2016-03-03 23:12] #261 closed

[2016-03-03 23:14] hzoo commented on #331
Sorry, was busy - if you are going to do it soon anyways then go ahead

[2016-03-03 23:22] #196 closed

[2016-03-03 23:22] #268 closed

[2016-03-03 23:31] #158 closed

[2016-03-03 23:33] SBoudrias commented on #174
Closing this issue for inactivity.

[2016-03-03 23:33] #174 closed

[2016-03-11 14:33] Dianoga commented on #268
Is this change stable enough to release a new version?

[2016-03-11 18:40] SBoudrias commented on #268
Soon, it'll be released with 1.0 you can see the issues left on the milestone here: https://github.com/SBoudrias/Inquirer.js/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0

Help is welcomed to make it happen faster.

[2016-03-13 02:02] SBoudrias commented on #331
Done.

[2016-03-13 02:02] #331 closed

[2016-03-14 23:55] valgaze opened #341 ""Pizza" & "checkbox" examples answers are null"
From a fresh clone of the master branch, the answers from the pizza & checkbox examples are null when logged in the terminal (see screenshots below)

It appears the cause for the issue is that the examples use a callback to access the answers rather than a promise. I will submit a PR with a working version of the examples using promises in order to help get some extra insight/eyeballs on this. My

[2016-03-16 12:55] senshuu commented on #308
I've submitted a Pull Request to implement the features proposed in this request. Options to select all, none, or the inverse have been implemented. Additionally, I implemented a "random" function as well, just for scenarios that may call for random choice selection. Please feel free to remove the 'random' option though, if it's not desired.

[2016-03-17 07:15] SBoudrias commented on #341
Yeah, that was broken on master since a pretty major push to add Promises for 1.0 release. It's fixed now.

Note that 1.0 is not yet released and promise API won't be working on the 0.x branches.

[2016-03-17 07:15] #341 closed

[2016-03-18 04:50] mistyharsh opened #344 "How to close the active prompt?"
I have a prompt open waiting for user to answer the question. There are some events in the background and whenever that event is fired I wish to close the active prompt. Once my operation is complete, I will create another prompt.

How can I do that using inquirer.js?

[2016-03-18 05:44] SBoudrias commented on #344
That's not currently possible.

[2016-03-18 06:16] #344 closed

[2016-03-18 16:55] Realtin opened #345 "'err' contains the awnsers"
Hey,

I tied some of your examples (list and input) and wrote this super simple code based on the input example:

[code]
logging the `answers` would give me `undefined` but logging the `err` gives me the answers!
Maybe there is a mixup in the code?

I have Node 4.1.1 and Inquirer v0.12.0

[2016-03-18 18:05] SBoudrias commented on #345
Please refer to the 0.12.0 documentation here https://github.com/SBoudrias/Inquirer.js/tree/v0.12.0

[2016-03-18 18:05] #345 closed

[2016-03-20 19:50] SBoudrias commented on #302
So, I think Rx.Subject is a hot observable. That means it won't replay event who've already been dispatched. You'd use it as so:

[code]

See the `onNext` calls happens after inquirer binded the Observable object.

[2016-03-20 19:50] #302 closed

[2016-03-20 19:52] SBoudrias commented on #292
Closing as inactive. Feel free to reopen if you provide reproduction steps.

[2016-03-20 19:52] #292 closed

[2016-03-20 19:54] SBoudrias commented on #227
Closing has this issue has been addressed a while ago when we moved to instantiable prompt modules.

[2016-03-20 19:54] #227 closed

[2016-03-20 19:56] SBoudrias commented on #206
Going over old issues ATM. I agree with:

So I'm going to close this issue.

[2016-03-20 19:56] #206 closed

[2016-03-20 20:00] SBoudrias commented on #109
I cannot reproduce in the latest release. I did some cleanup to events listeners a while ago, so that might just've fixed the issue.

Either way, feel free to reopen if the issue still occurs for you.

[2016-03-20 20:00] #109 closed

[2016-03-21 00:54] knownasilya commented on #206
Is there another issue to look at, or is this already possible (a link/example would be appreciated if so)?

[2016-03-21 01:08] SBoudrias commented on #206
@knownasilya https://github.com/SBoudrias/Inquirer.js#separator

[2016-03-21 01:13] knownasilya commented on #206
Guess this is an alright solution, definitely not the best. Easy to think that the separator is not separating the start and end of the list, but multiple groups in the list, especially if you have many items.

[2016-03-21 16:47] djskinner commented on #302
Ah I see. Perhaps a `ReplaySubject` was what I was looking for.

[2016-03-22 04:12] marthinus-engelbrecht opened #346 "inquirer.prompt doesn't return a promise but the documentation says it does"
Hi,

The [documentation](https://github.com/SBoudrias/Inquirer.js#methods) says `inquirer.prompt` returns a promise but given the code below:

[code]
I get the output:

[code]
Is this a mistake in the documentation or am I missing something? I can see from the documentation that `inquirer.prompt().process` returns an `Rx.Observable` so it seems like there might be a mistake in the documentation.

[2016-03-22 04:15] SBoudrias commented on #346
Sorry, the new version is not released yet (but hopefully very soon). You can see the latest release documentation here https://github.com/SBoudrias/Inquirer.js/tree/v0.12.0

[2016-03-22 04:17] SBoudrias commented on #346
I also just changed master to represent the latest release to prevent further confusion as this release is taking longer than usual.

[2016-03-22 04:17] #346 closed

[2016-03-22 04:49] marthinus-engelbrecht commented on #346
Thanks, looking forward to the release.

[2016-03-22 12:41] marthinus-engelbrecht commented on #346
Will the promise resolve after the callback executes or before?

[2016-03-22 17:53] SBoudrias commented on #346
There won't be callback anymore.

[2016-03-22 22:30] marthinus-engelbrecht commented on #346
What I mean is the second function that you pass in that will receive the error and answer object. See below:

[code]

The function used to process the answer

[2016-03-22 22:33] SBoudrias commented on #346
Yes, that function won't be there anymore. You'll call it like `inquirer.prompt(question).then(callback)`

[2016-03-22 23:27] marthinus-engelbrecht commented on #346
Ok, so you can eventually, or now with babel, if you are that way inclined do

[code]

[2016-03-27 02:17] mhkeller opened #349 "Question: Parsing `input` string as json but display string to user"
I have an `input` type prompt that asks for a list of names that could be parsed as json according to some convention such as being comma-delimited, e.g. `Name one, Name two` etc. I would like to use to `filter` function to turn these into a list.

The problem, though, is this displas `[Object object], [Object object]` to the user even though I would prefer it to return the original string the use

[2016-03-27 02:33] SBoudrias commented on #349
This being quite an edge case, I feel like we shouldn't add further API surface to fix it.

That being said, you should approach this problem from the JS perspective. Your issue is how the objects you create get stringified.

As so, just define a custom `toString()` method on the object you return from your filter function, and it'll fix your output :)

[2016-03-27 02:33] #349 closed

[2016-03-28 03:29] mhkeller commented on #349
Thanks. That does the trick.

[2016-03-30 04:11] #321 closed

[2016-03-30 04:11] #116 closed

[2016-04-01 00:27] southpolesteve opened #350 "possible to supply answers object at the start of prompt"
I've been splunking through the code trying to figure out if this is possible, but no luck so far. I would like to be able to supply inquirer with a starting point. This would allow users to supply configuration via env variables or CLI flags and prompt will use its `when` functionality to decide what else it should ask for.

Example of what I am trying to accomplish:

[code]

By suppling a `answe

[2016-04-01 00:35] SBoudrias commented on #350
Why not something of your own:

[code]

Then this doesn't need to live in Inquirer. It's just a function adapter to your needs.

[2016-04-01 04:13] southpolesteve commented on #350
That was my initial solution, but as the prompts become more complicated (specifically more logic in the `when` functions) I found myself with weird edge cases. I did tried an attempt at replacing the answers object on the prototype but wasn't able to make it work.

Just spliting up the prompts or try and simplifying the question hierarchy may just be the best solution here. I could also walk and

[2016-04-02 18:23] Danita commented on #272
Puzzlingly enough, I executed `node -p -e "Boolean(process.stdout.isTTY)"` on my machine but it returned `true`. My specs:

- Windows 7 x64
- Gitbash (which comes with Git for Windows, Mintty ver 2.0.3 x86)
- Node v5.5.0

I'm here trying to find info to debug [this package](https://github.com/dylang/npm-check/issues/112) which depends on Inquirer, and it's failing on said configuration.

[2016-04-03 23:33] endquote opened #351 "flexible defaults"
It would be nice if the `default` attribute of a prompt could be a function, in case the default should change based on some runtime condition.

[2016-04-03 23:34] SBoudrias commented on #351
Isn't this the case already?

[2016-04-04 00:11] endquote commented on #351
Looks like it is... wasn't working for me in some case, probably user error.

[2016-04-04 00:11] #351 closed

[2016-04-04 02:49] endquote opened #353 "async validate/filter/when"
I have some logic that requires reaching out to a service on the network to validate input. If `question.validate` accepted a callback and waited for me to call it before going on to the next question, I could do that. Adding this to `filter` and `when` would open some interesting options as well.

Or maybe this is possible already using the reactive interface?

[2016-04-04 03:10] SBoudrias commented on #353
You can use `var cb = this.async()`

[2016-04-04 03:11] SBoudrias commented on #353
https://github.com/SBoudrias/Inquirer.js#question

[2016-04-04 03:11] #353 closed

[2016-04-04 03:12] endquote commented on #353
Found it... thanks! Interesting how that works.

[2016-04-04 03:57] #122 closed

[2016-04-05 20:21] drobertduke opened #354 "`Press <space> to select` hint disappears and users get stuck"
I'm trying to popularize Yeoman generators with the hundreds of Java developers I work with. Every time I've had people use it, invariably someone gets stuck on a checkbox-style prompt because they hit the arrow keys to move around, which deletes the selection instructions.  They then start hitting enter, or hitting numbers, or asking for help because they don't know how to select options.

I neve

[2016-04-05 21:08] SBoudrias commented on #354
What's your suggestion?

[2016-04-05 21:09] drobertduke commented on #354
Don't erase the `Press <space> to select` hint.

[2016-04-06 02:36] shanshanyang opened #355 "examples do not work with shelljs"
`shjs.exec('node examples/checkbox.js')
`

![screen shot 2016-04-05 at 10 32 05 pm](https://cloud.githubusercontent.com/assets/4010256/14304154/6e3dd04a-fb7e-11e5-9296-d5c1e2cc2897.png)

all the examples are not responsive when used with shelljs exec method, is this a bug?

[2016-04-06 02:49] SBoudrias commented on #355
No, you need to pipe the stdin/out to the process or it won't receive key inputs.

[2016-04-06 02:49] #355 closed

[2016-04-06 02:52] SBoudrias commented on #355
That being said, I don't know about shelljs specifically. It might be that `exec` don't allow to pipe the stdio. You might actually want to use node native `child_process.spawn` instead.

But the main point remain, you need to pipe the stdio for it to work.

[2016-04-06 02:53] shanshanyang commented on #355
great, thanks, i'll give it a try

[2016-04-07 07:23] grabbou opened #356 "Callback never called when passed an object, not array"
I do realise this is definitely a developer mistake, but I've been wondering if we shouldn't call a callback with an error in this case. Otherwise it hangs indefinitely, which might not be helpful to debug.

See https://github.com/rnpm/rnpm/issues/138#issuecomment-206672048

[2016-04-07 07:36] SBoudrias commented on #356
Can you explain what happened? It's not clear from the issue you linked and the related fix.

[2016-04-07 07:53] grabbou commented on #356
We basically passed an empty object to `inquirer.prompt()` instead of an empty array and that caused the callback to never being called.

[2016-04-07 17:24] SBoudrias commented on #356
Oh yes. Since 1.0, inquirer returns a promise. So the callback is not used anymore. That was noted in the release notes breaking changes: https://github.com/SBoudrias/Inquirer.js/releases/tag/v1.0.0

[2016-04-07 17:24] #356 closed

[2016-04-07 18:43] sindresorhus commented on #354
Or better, remove the hint on `select` instead of arrow keys.

[2016-04-07 20:54] grabbou commented on #356
Oh thank you!

[2016-04-08 08:17] artem-malko opened #357 "Date of release 1.0.0 in npm?"

[2016-04-08 17:44] SBoudrias commented on #357
Ugh, my bad :fearful:

It's out now.

[2016-04-08 17:44] #357 closed

[2016-04-11 03:17] doxxx commented on #272
I ran across a similar issue and found it worked when running node using [winpty](node -p -e "Boolean(process.stdout.isTTY)") in Cygwin's mintty console with the fish shell.

![image](https://cloud.githubusercontent.com/assets/677940/14415932/610f023e-ff72-11e5-8a47-f9c4afca410a.png)

[2016-04-15 06:36] sarbbottam opened #359 "Is it possible to change the color of the input beyond certain length?"
Is it possible to change the color of the input beyond certain length?

Somthing like
<img width="563" alt="screen shot 2016-04-04 at 11 57 11 am" src="https://cloud.githubusercontent.com/assets/949380/14259591/713b5740-fa5c-11e5-9a20-e483b9dcb790.png">

<img width="883" alt="git-cz" src="https://cloud.githubusercontent.com/assets/949380/14259695/eb64ee96-fa5c-11e5-9f7a-f174f9a5f2c4.png">

---

Ma

[2016-04-15 18:35] MaffooBristol opened #360 "Add a table display"
I can create a table using [text table](https://www.npmjs.com/package/text-table), but I would quite like it to be interactive and move the cursor up and down rows like in Inquirer.js.

Are there any plans to add a table display to this module, so that rather than passing an array of strings into `choices`, you pass an array of arrays and it will display it as such?

Thanks
Matt

[2016-04-15 19:38] SBoudrias commented on #360
Hey, there's no plan to add new default prompts, but you can create an Inquirer plugin for it.

[2016-04-15 19:38] #360 closed

[2016-04-15 21:31] MaffooBristol commented on #360
Ah okay, thanks- I hadn't noticed the plugin API!

[2016-04-16 19:12] booooh opened #361 "When using a function for default, value is calculated only once"
When passing a default value to a prompt, one of the options is to pass it a function which receives the current answers as the argument.

When prompting the same question more than once (like in the recursive example), the default value gets overridden with a plain string result from the first time.

it seems like this is because the library overrides the property with the value of the function (

[2016-04-16 20:07] SBoudrias commented on #361
Can you post a code example?

It's possible we should clone the option object before operating on it.

[2016-04-16 20:15] booooh commented on #361
This is just a very slightly modified version of the recursive example provided in the repository (added a default section):

[code]

[2016-04-16 23:32] SBoudrias commented on #350
Yeah, that might be a better solution. As I see it now, this feature is out of scope for the project.

[2016-04-16 23:32] #350 closed

[2016-04-16 23:36] #354 closed

[2016-04-16 23:36] #361 closed

[2016-04-16 23:55] SBoudrias commented on #272
Please try the latest inquirer version and let me know if that's still an issue.

A lot of work have been done on the Node.js side, and I remove all Inquirer custom readline handling as the Node version is now good enough.

[2016-04-16 23:55] #272 closed

[2016-04-17 14:56] Turbo87 opened #362 ""expand" prompt type results broken"
Behavior in v0.12.0:

[code]

Behavior in v1.0.1:

[code]

It seems that the `value` property of the choices is ignored and not returned at all.

[2016-04-17 18:43] SBoudrias commented on #362
Thanks for the report, I'll look into it as soon as possible.

[2016-04-17 19:11] #362 closed

[2016-04-17 19:20] Turbo87 commented on #362
awesome, thanks for the quick fix!

[2016-04-21 08:49] iongion opened #363 "Error handler callback"
I do not know if this is the expected behavior, but I am having trouble handling the errors, I want to display the user an input that if invalid, will display an error and retry otherwise continue, what I am doing is this("inquirer": "1.0.2"):

[code]

The done callback with error is called but then the catch is never called rendering impossible to do something on error except then bailing out.

T

[2016-04-21 15:56] mh-cbon opened #364 "type list, hangs with undefined values"
hi,

this snippet will hang, because of an `undefined` value within the array of values.

[code]

[code]

[2016-04-21 17:49] SBoudrias commented on #364
Don't you think it's normal to fail on a type error?

[2016-04-21 17:50] SBoudrias commented on #363
Yes, failing validation doesn't fail the prompt. It warn the users and ask a valid answer.

[2016-04-21 18:41] mh-cbon commented on #364
If that is the way you prefer to handle undefined / null / boolean / meaningless values.
That's all fine.

[2016-04-21 18:41] #364 closed

[2016-04-22 16:07] ransombriggs opened #365 "Prompt confirm does not work with yes unix command"
When inquirer prompts are used and stdin is not a tty, the prompt hangs as long as stdin is still open.  We recently started using inquirer and found that one of our users has been piping in `yes` into one of commands to confirm all the prompts and was confused when nothing happened.  I have included an extracted example to show the behavior.
[code]
The `y` line is read, the problem is that the pr

[2016-04-22 16:10] dickeyxxx commented on #365
@hone mentioned a lot of Docker users like to use `yes |`, so it would be great if this worked!

[2016-04-22 16:23] dickeyxxx commented on #365
Looks like this does with inquirer 0.x with this code:

[code]

[2016-04-24 19:52] SBoudrias commented on #365
@dickeyxxx inquirer relies on the readline. Usually input is read once we reach an end of line marker, and from what I see, this should occurs using `yes`. I'll see if I have time to investigate further, but to be fair that's not exactly taking top priority on my bug list.

[2016-04-28 17:24] geddski commented on #303
Here's a workaround for anyone that need it. https://gist.github.com/geddski/c42feb364f3c671d22b6390d82b8af8f

[2016-05-02 18:09] adius commented on #248
@SBoudrias I feel like this should be part of inquirer. Did you ever think of making this a first class feature?

[2016-05-02 18:13] SBoudrias commented on #248
No, I don't think that's something most users would needs.

Also, if you want to pass JSON in, almost everything will work, excepts  validate/filter and other functions versions of properties.

[2016-05-02 19:18] adius commented on #248
I'm not sure if you really know what JSON schema is all about.
It's not about that it uses JSON (you can use plain js objects or YAML just as well)
It's about specifying what object you want to have in the end instead of which questions to ask.
This would enable cool stuff like this:

Schema:

[code]

So instead of specifying that inquirer shall ask for the red, green and blue value of a color,
yo

[2016-05-02 19:49] adius commented on #248
This is also a great resource to learn about JSON schema: http://spacetelescope.github.io/understanding-json-schema

[2016-05-05 01:10] dcrockwell opened #366 "Unit testing examples"
Hello. I'm trying to figure out how to independently test:

* The correct prompts are shown
* The correct options are shown
* The correct answer is returned when selected

Basically, I'd like to independently unit test the stdin and stdout, but packages such as `node-suppose` fail when used with inquirer (I think it's because of .rl.emit("line") needing to be called? I'm not sure though).

I'd lik

[2016-05-05 05:27] dcrockwell commented on #366
Turns out it's pretty easy to test via simple asserts on stdout, but the trick to getting it to accept an input is: `process.stdin.emit("data", "Your Input\n");`

This can be considered closed, I think.

[2016-05-05 05:27] #366 closed

[2016-05-09 14:33] tomekwi opened #367 "Less surprizing validation API"
Hello,

first of all, thank you for the great piece of software! I’ve only discovered Inquirer the other day – and I’m totally in love with it!

I’ve got one suggestion from a newcomer’s perspective. A hallway usability test for free. 😄

The relationship between async validation and promises was a bit suprizing for me:

[code]

Here’s my full story. Validation via `return true` and `return 'Error

[2016-05-09 14:57] tomekwi commented on #367
Closely related: #310.

[2016-05-09 20:14] SBoudrias commented on #367
I believe the issue is that you need to resolve the promise with the error message. Rejecting the promise is currently handled as a code error.

[2016-05-09 20:27] tomekwi commented on #367
Tried that as well – that still leads to an instant `[object Object]` error message.

[2016-05-09 20:28] tomekwi commented on #367
You can see that here, by the way (promise resolved to `true` shouldn’t be an error):

[code]

[2016-05-11 14:11] mhkeller commented on #306
I think this could work by modifying the [input](https://github.com/SBoudrias/Inquirer.js/blob/master/lib/prompts/input.js) prompt type to fill in the `default` value.

The use case I'm envisioning is you want to use the default string as a starting point. For example, you have a date `2016-05-01` as the default and you want it to change it to `2015-05-02`. You could up-arrow and change only the l

[2016-05-11 16:45] mhkeller commented on #306
I've got a basic version working here: https://github.com/mhkeller/inquirer-input-up

Having some trouble with the cursor position though that would be great to get some help on: https://github.com/mhkeller/inquirer-input-up/issues/1

[2016-05-11 17:15] Jeff-Lewis commented on #303
Also see https://github.com/nodejs/node/issues/5384

[2016-05-12 03:24] coreyc opened #368 "Requiring answer to a question"
Hi and thanks for the library!  I'm still kind of new to it, but is there a way of requiring an answer to a question?  I guess you could use validation to check for an empty input, but was wondering if there was a cleaner way.

[2016-05-12 03:25] SBoudrias commented on #368
`validate: Boolean` will return false if you get null or an empty string.

[2016-05-12 03:25] #368 closed

[2016-05-12 14:05] Vasyl-Kobyletskiy opened #369 "First prompt on Windows is duplicating"
Good afternoon,

There is one issue. When we use inquirer latest version 1.1.2, user entrance of first prompt is duplicating.
Let me show you a simple example to demostrate it

var inquirer = require('inquirer');
inquirer.prompt([
	{
		name: 'name',
		type: 'input',
		'message': 'Name:'
	},
	{
		name: 'surname',
		type: 'input',
		'message': 'Surname:'
	},
	{
		name: 'password',
		type: 'password'

[2016-05-16 07:59] gobwas commented on #248
@adius 👍

[2016-05-17 00:15] Pomax opened #371 "interrupting a prompt?"
I have a CLI client for a game in which certain actions can only be taken until the server sends a timeout notice. If a CLI client using inquirer is sitting at a prompt for the user to decide what to do, and the server sends the client a timeout notice, I'd like to kill off the prompt again and inform the user they ran out of time. However, I don't see a way to do this in the documentation - is th

[2016-05-17 00:19] SBoudrias commented on #371
That's not really possible through our API.

Maybe you could hack something by passing a Stream to inquirer as arguments. Then maybe you could just close the stream.

[2016-05-17 00:20] SBoudrias commented on #371
Also, you might wanna look at https://github.com/dthree/vorpal that is built on top of Inquirer, but offers more interactivity.

[2016-05-17 00:21] Pomax commented on #371
oh cool, will be checking that out. Also, thanks for the quick response!

[2016-05-17 00:22] #371 closed

[2016-05-23 15:17] oveddan commented on #362
This changed caused a confusing error for me which I had to dig into source code to troubleshoot:

TypeError: Cannot read property 'short' of undefined
    at Prompt.onSubmit (/usr/local/lib/node_modules/yo/node_modules/yeoman-environment/node_modules/inquirer/lib/prompts/expand.js:164:23)

It would be better if there was a more descriptive error message

[2016-05-23 15:20] oveddan opened #373 "Confusing exception when using expand, if the value does not match up with the key."
I had an existing prompt config:

[code]

This worked fine, until I upgrade to the latest version of Inquirer.  When "n" was selected, I get the confusing error:

TypeError: Cannot read property 'short' of undefined
    at Prompt.onSubmit (/usr/local/lib/node_modules/yo/node_modules/yeoman-environment/node_modules/inquirer/lib/prompts/expand.js:164:23)

It's due to this line of code:
[code]

There

[2016-05-23 20:12] mhkeller opened #374 "Option to not clear the prompt when validation false"
Currently when an answer false validation, the answer the user has given is also cleared. An option to have the user input remain so that it could be edited would be helpful.

My use case is that I'm asking the user to fill out text for a sample tweet with validation that the text is less than 140 characters. If the string is over 140, I give an error message with the current character count. For

[2016-05-25 13:19] frankdiox opened #375 "Max listeners reached."
@SBoudrias  Hello! First of all, thanks a lot for this tool!
I have forked this repo to implement a small feature for a project. Basically, I wanted to cancel list prompts to be able to go back to the previous question. While doing this I noticed that if I cancel prompt and open it again several times it was throwing an error related to reaching maximum listeners for the same event (10 by default)

[2016-05-25 18:58] SBoudrias commented on #375
Inquirer correctly clears its listeners using events constraints. (see the `takeUntil` https://github.com/SBoudrias/Inquirer.js/blob/master/lib/prompts/input.js#L42)

So the event listener issue really is only in your own code.

[2016-05-25 19:30] frankdiox commented on #375
Thanks for checking!

[2016-05-25 19:30] #375 closed

[2016-05-25 20:44] sarbbottam commented on #359
Hi @SBoudrias, does this sound feasible? If yes, I can work on a PR, with little guidance.

[2016-05-25 20:46] SBoudrias commented on #359
Everything is possible, the question is more what would be the API exposed to the user?

[2016-05-25 20:54] sarbbottam commented on #359
I guess the API remains the same, if optional `transformer` function is passed, `this.rl.line` is transformed before it gets added to the message.

May be I am over-simplifying, you could suggest better.

[2016-05-25 21:12] SBoudrias commented on #359
I think that makes sense. PR welcomed

[2016-05-26 11:20] deep9 commented on #369
I am using https://github.com/dylang/grunt-prompt, which uses inquirer@0.11.4, and the issue is the same.

When having just one prompt with pasword, it is only masked in the second line, so you can see what are you typing (password), then after pressing enter you see the line repeated, but with masked input.

[2016-05-29 04:26] akatsukle commented on #373
I am not really sure what should be the behaviour here. The API is not really specific on what types are allowed for `value`.
My first commit paches getCurrentValues. If the value was faulty (ie the boolean false) then the function would return the name.
My second one add a verification on the field `value`, that will allow only Strings, Integers and Booleans.
I think doing both is a good idea, ho

[2016-05-30 02:56] #373 closed

[2016-05-30 04:20] richardgarnier opened #377 "Expand, null or undefined have an undesired behaviour."
As discussed in #376, if the field `value` contains either `null` or `undefined`, we can never select this field (see attached [test](https://github.com/SBoudrias/Inquirer.js/files/288813/test.txt)).

I think a choice should be selectable regardless of its value.
Otherwise it should throw a proper error during the parsing.

[2016-05-30 04:49] oveddan commented on #373
Thank you!

[2016-05-30 21:30] marvinhuebner opened #378 "Show a warning message after the validation process"
I want to create a warning for the user in my validation.

My question looks like this:
[code]

At first i will validate if the user has typed in something, and afterwards i want to check with a function if this folder already exists. If the folder already exists the user will receive a waring message, if not all is good.

The problem is that the validation returns no true at the end and i can't g

[2016-05-30 21:41] marvinhuebner commented on #378
I found the solution for that. I will post the solution if anybody else runs into this.

[code]

[2016-05-30 21:41] #378 closed

[2016-05-31 13:35] zckrs commented on #363
Same issue.

[code]

Output:
[code]

How can we reject user choices without stop process ?

[2016-05-31 17:57] SBoudrias commented on #363
@zckrs so you're saying rejecting the promise end up throwing an unhandled error?

With every prompt? Only one prompt? Please give me more context + code example if possible.

[2016-05-31 19:08] jamestalmage opened #379 "A better way to unit test."
This has been [brought up before](https://github.com/SBoudrias/Inquirer.js/issues/95) and rejected. The referenced link there is dead, so maybe I'm missing something, but I still find prompts a little difficult to test.

Specifically, I want to be able to easily test if questions are skipped, if certain answers are considered invalid, how the messages, defaults, etc, are impacted by state.

I woul

[2016-05-31 21:42] jsonmaur commented on #264
I agree with this, I don't like having the `?` suffix for each question asked, especially when it doesn't go along with my UI. It really should be configurable so I can remove it. @SBoudrias is this something that you'd take a PR for? I'd be happy to do it.